[2018-04-24 21:16] ameyb opened #2 "Custom Seed provider for Kubernetes"

[2018-04-24 21:22] ameyb opened #3 "StatefulSet for Cassandra, optimized with operator design"
Collaborate on combining the statefulsets from Pivotal + InstaClustr and create one as a building block for  Operator

[2018-04-24 21:23] ameyb opened #4 "Enable basic security with Cassandra Clusters"
Basic RBAC with Cassandra admin role

[2018-04-24 21:24] ameyb opened #5 "Readiness Probe and healthcheck per node"
Develop a set of scripts to perform health check operation. As a best practice, stay away from 'nodetool status'

[2018-04-24 21:26] ameyb opened #6 "Healthcheck for cluster provisioning"
For C* cluster deployment, we should be able to monitor the progress of the cluster creation status/failures.

[2018-04-24 21:27] ameyb opened #7 "Rolling Upgrades with no downtime[minor or major Cassandra version changes]"

[2018-04-24 21:27] ameyb opened #8 "Rolling Upgrades with no downtime[Docker Image changes]"

[2018-04-24 21:33] ameyb opened #9 "Failure Scenario: Failure of a C* Pod"

[2018-04-24 21:34] ameyb opened #10 "Failure Scenario: Failure of entire C* cluster"
PVs will the entire SSTables on IaaS persistent disks
Need to work on recovery scenarios

[2018-04-24 21:39] ameyb opened #11 "Backups of Cassandra cluster data"
Should be periodic cron and options to upload to S3/Object store of choice

[2018-04-24 21:41] ameyb opened #12 "Restore Cassandra Cluster data"
Should be the same size cluster as original

[2018-04-24 21:42] ameyb opened #13 "Cluster Scaling Down"

[2018-04-24 21:45] ameyb opened #14 "Failure Scenario: Failure of a Kubernetes Worker Node"

[2018-04-24 21:50] ameyb opened #15 "Cluster Scaling Up"

[2018-04-24 21:51] ameyb opened #16 "Cluster Scaling Down"
Statefulset deletes the last pod
Run decommission on the node

[2018-04-24 21:55] ameyb opened #17 "Support TLS between Cassandra Nodes"
Should this be MVP story?

[2018-04-24 21:59] ameyb opened #18 "Prometheus Monitoring + metrics"
Leverage Instaclustr Prometheus exporter

[2018-04-30 19:59] zegelin commented on #2
Implementation is simple for now, but does a resolve on a given k8s service name and uses all returned IPs as seeds. The operator creates a seed-node specific service which is restricted to a subset of all created pods.

[2018-05-01 13:27] benbromhead opened #20 "Helm package"
Create a helm package for the operator

[2018-05-01 13:28] benbromhead opened #21 "Support Operator Lifecycle Manager"
Watch and see how the coreos OLM project goes in terms of adoption. Support OLM management
https://github.com/operator-framework/operator-lifecycle-manager

[2018-05-02 16:28] ameyb opened #22 "Setup Circle CI"

[2018-05-03 19:57] ameyb opened #23 "Enable deletion of C* Data Center(DC) in Operator"

[2018-05-03 20:29] ameyb opened #24 "Parameterize Operator inputs"

[2018-05-03 20:38] ameyb commented on #23
TO DO : Investigate the statefulset deletion issue @liwang

[2018-05-03 20:39] liwang-pivotal commented on #23
https://github.com/kubernetes/client-go/issues/91

[2018-05-07 21:57] nchandrappa opened #26 "Unable to create "CassandraDataCenter" resource"
**Issue**: Unable to create "CassandraDataCenter" resource

kubectl create -f test-dc.yaml gives below error
[code]

[2018-05-07 22:07] nchandrappa commented on #26
1. **datacenter-crd.yaml** has typo. singular is spelled *datacenter*, it should be *datacentre*

2. As per CRD documentation, **kind** property in CRD spec should match the singular and plural. We need to change **kind** from *CassandraDataCentre* to *DataCentre*

[2018-05-07 22:11] zegelin commented on #26
I will investigate this, thanks.

[2018-05-08 14:41] liwang-pivotal commented on #15
New PR is enabled cluster scaling up

[2018-05-08 14:46] liwang-pivotal commented on #23
PR #25 enabled DC deletion.

[2018-05-08 14:49] liwang-pivotal commented on #16
Duplicated with Issue #13

[2018-05-08 15:04] liwang-pivotal opened #27 "Recreate Missing Primitive Resources with Watchers"
Implement a thread to scan cluster status periodically. In addition to Issue #6  for provisioning, this thread should be alive through operator's life cycle. Also it should be able to detect resource failure/missing and rescue them back, hold the cluster in a desired state.

[2018-05-08 15:35] liwang-pivotal opened #28 "Change podManagementPolicy from "serial" to "parallel" to speed up cluster provision"
Current seed provider is able to support "parallel" Pod creation. TBD for other advanced seed providers.

[2018-05-08 16:44] zegelin commented on #28
Cassandra nodes should be started and decommissioned one-at-a-time, hence the `serial` policy.

[2018-05-09 12:14] #28 closed

[2018-05-15 22:17] liwang-pivotal commented on #27
PR #25 added a `CassandraPeriodicReconciliationService` to recreate missing primitive k8s resources periodically. However the down side of this design is the overhead for unnecessary reconcile and possible idle window to when repair is needed. The other way to go is to create watches for each primitive resource and capture deletion operation. Need to reevaluate this.

[2018-05-15 23:25] benbromhead commented on #27
Thinking more about this, I wonder if it's better to rely on rbac to protect resources rather than try to recreate them?

[2018-05-16 01:18] benbromhead commented on #3
Closing out as the Operator now generates StatefulSets for Cassandra. We will likely tune as implementation and feedback dictates, but for now it works well.

[2018-05-16 01:18] #3 closed

[2018-05-17 13:51] ameyb opened #34 "Operator Config for deploying to K8s env"

[2018-05-17 14:14] benbromhead commented on #34
As part of improving Operator documentation and install/test experience, I'm creating some basic helm packages for the operator and Cassandra that should solve this.

[2018-05-18 00:43] liwang-pivotal commented on #27
@benbromhead For some reason I didn't see this update in time... We had a discussion with Adam during the meeting today, and we agree on having both RBAC and `CassandraPeriodicReconciliationService` enabled as two layer protection because an authorized admin can also delete resource by mistake. It might be more robust for an operator to work as any other primitive resources like statefulset (eg. p

[2018-05-18 00:48] zegelin commented on #27
My thinking was similar to how statefulsets work. You create a statefulset and the built-in controller creates pods, etc. If you delete one of those pods, the controller reacts immediatly by recreating it.

To the operator, statefulsets are like the pods, they should always exist if the data center exists.

We can add RBAC at a later stage (since its yet another thing to wrap our heads around). It

[2018-05-18 01:01] liwang-pivotal commented on #27
@benbromhead Agree, I think watchers are more active too. Adam mentioned he already created those watchers, I will throw this `CassandraPeriodicReconciliationService` away once he pushes his : )

[2018-05-18 01:09] #23 closed

[2018-05-18 01:09] #22 closed

[2018-05-18 01:10] #13 closed

[2018-05-18 01:12] #5 closed

[2018-05-18 01:14] liwang-pivotal commented on #6
`CassandraHealthCheckService` is periodically checking current cluster status with output info:
[code]

[2018-05-18 01:14] #6 closed

[2018-05-22 15:46] benbromhead commented on #20
#36 Includes Helm packages.

We'll leave the Issue open as a reminder to create a PR against https://github.com/kubernetes/charts

[2018-05-22 18:29] liwang-pivotal commented on #9
A proper `liveness probe` will be able to detect this kind of failure - if `liveness probe` reports pod status as down, then k8s will replace this pod with a brand new pod. Thus a `liveness probe` with all potential C* node failure scenarios covered will be able to convert this issue into Issue #14 .

[2018-05-22 20:08] liwang-pivotal opened #37 "Warnings on com.squareup.okhttp.OkHttpClient"
Operator keeps throwing out warnings like below periodically:
[code]

[2018-05-23 14:40] benbromhead opened #40 "Watch the StatefulSet - Clean up decom'd PVs"
Currently, if the DC is scaled down by more than one node (e.g, 6 -> 3 nodes), then the controller will get "stuck" after it has scaled down the statefulset as it currently isn't notified when the pod has finished being deleted. I'm hoping that a watch on the statefulset objects will be enough for the controller to observe that the pod has been deleted (statefulset.status.currentReplicas will chan

[2018-05-23 14:52] benbromhead commented on #34
Helm charts have now been merged to master, which addresses this issue.

Feel free to extend / add to the helm chart :)

[2018-05-23 14:52] #34 closed

[2018-05-23 14:53] benbromhead commented on #20
#36 now in master

[2018-05-23 14:53] #20 closed

[2018-05-23 14:54] benbromhead commented on #16
#38 committed to master. Outstanding issues for scale down is #40

[2018-05-23 14:54] #16 closed

[2018-05-24 16:17] liwang-pivotal opened #41 "Warning "Unprocessable Entity""
When a scale down command is triggered, got the warning as below:
[code]

[2018-05-24 18:46] ameyb commented on #24
Number of CPU cores
Memory Limits

[2018-05-24 18:58] ameyb commented on #17
Accept keystore via ConfigMap

[2018-05-30 18:40] liwang-pivotal opened #44 "Operator Restarted Once when Creating DC"
[code]

[2018-05-30 18:41] zegelin commented on #44
I've seen this too. Will investigate.

[2018-05-31 20:09] liwang0513 opened #46 "Rolling upgrade with image change & cassandra minor version change"
A test to see if statefulset can handle this properly.

[2018-05-31 20:10] liwang-pivotal commented on #37
Check if the latest K8s library is able to fix this issue.

[2018-05-31 20:17] ameyb commented on #17
Reference blogpost for TLS with Kubernetes
https://itnext.io/automated-tls-with-cert-manager-and-letsencrypt-for-kubernetes-7daaa5e0cae4

[2018-05-31 22:27] benbromhead commented on #41
+1 seen this as well

[2018-05-31 22:34] liwang-pivotal commented on #41
I'm testing and seeing this also when scaling. Looks like replace `service` resource will cause this exception, `configmap` and `statefulset` will work as normal.

[2018-05-31 22:37] zegelin commented on #37
This could be because the `WatchService` isn't calling `close()` on the created `Watch`. Will add this to the PR.

[2018-06-04 17:11] liwang-pivotal commented on #41
PR #48

[2018-06-06 21:07] sneko opened #52 "Can't install the cassandra chart"
Hi,

Following your instructions I get the following error when trying to install Cassandra (not the operator):
`helm : Error: unable to recognize "": no matches for stable.instaclustr.com/, Kind=CassandraDataCenter`

I just followed the README, is it working for you?

Thank you 😃

[2018-06-07 17:30] liwang-pivotal commented on #37
fixed by PR #47

[2018-06-07 17:34] liwang0513 opened #54 "WARNING on JMX Client Heartbeat"
Deleting DC will causing warnings as below:

[code]

[2018-06-07 17:35] zegelin commented on #54
I'll look into this -- I need to modify the healthcheck service to only test running pods

[2018-06-07 17:38] liwang-pivotal opened #55 "DC can't be recreated after deleting it"
Maybe related with issue #54

[2018-06-08 00:33] zegelin opened #57 "Tag `cassandra` image with Cassandra version"
Curently, `build` & `build-all` tag images with the repo short hash & `latest`. This is useful for development.

Ideally the Cassandra image should be tagged with the version of C* it represents, e.g. `3.2.11`.
This makes it obvious what version is contained within, and will be necissary once we need to support multiple C* versions.

[2018-06-13 16:09] liwang-pivotal commented on #55
Fixed in PR #58

[2018-06-15 19:41] benbromhead commented on #52
Sorry for the delay on this, we changed the CRD kind as it was too generic (DataCenter vs CassandraDataCenter). See the above mentioned PR which should fix this (I confirmed the helm charts now work in minikube).

Note there are now new values to configure in the Values.yaml file for the Cassandra helm package. Make sure you review.

[2018-06-15 19:55] sneko commented on #52
Thank you for the update @benbromhead 😃

At this time I'm not available to test it, I used as fallback the incubated Helm Chart (https://github.com/kubernetes/charts/tree/master/incubator/cassandra) to use some tools in time, but I prefer to use your operator 😃 . So as soon as I have time I will try again 👍

Feel free to close this issue if someone confirms that's the merged works well.

Thanks ag

[2018-06-25 02:45] liwang-pivotal opened #64 "Project release is not ready"
Looks like we are not ready to give out a project [v1.0.0 release](https://github.com/instaclustr/cassandra-operator/releases) since we still have some bugs to be tackled.

[2018-06-25 17:16] benbromhead commented on #64
Ah whoops, not sure what went on there. I think that was just a release of the backup agent? I'll look into it

[2018-06-25 17:23] #37 closed

[2018-06-25 17:23] benbromhead commented on #52
Issue reviewed and merged

[2018-06-25 17:23] #52 closed

[2018-06-25 17:23] #55 closed

[2018-07-05 19:33] lyubentt opened #66 "Fork backup tool to separate repository"
The backup tool that is part of the toolbelt of the operator is getting some attention outside of the kubernetes functionality being provided with the operator project. At this point the backup module presents enough functionality that it could be a stand-alone project.

The important step is to make  sure that the cassandra-operator remains unaffected. A somewhat clean way of proceeding here woul

[2018-07-11 14:42] benbromhead commented on #64
Releases have been pulled

[2018-07-11 14:42] #64 closed

[2018-07-19 15:45] xek opened #69 "Failed to pull image "gcr.io/cassandra-operator/cassandra-sidecar-dev""
I see you uploaded almost everything to gcr.io, but cassandra-sidecar is missing.
After installing the operator and starting the cluster I have this error:

```Failed to pull image "gcr.io/cassandra-operator/cassandra-sidecar-dev": rpc error: code = Unknown desc = unauthorized: authentication required```

[2018-07-20 16:40] benbromhead commented on #69
Hi Xek

Thanks for the update, at the moment builds are failing due to our pivotal test cluster being out of action, this means sidecar images are not being published.

I'm pulling out pivotal tests from circleci until the test infra issues are resolved.

Ben

[2018-07-20 16:48] benbromhead commented on #69
And also I think we didn't include in the publish script. See #71

[2018-07-20 16:57] benbromhead commented on #69
Ok should be fixed now. Also we have changed the build system to push non "-dev" based images as well for builds from the master branch.

You should start using the non-dev images for your testing. So `gcr.io/cassandra-operator/cassandra-sidecar` should be available.

[2018-07-20 16:58] benbromhead commented on #44
Closing due to merged fixes, no operator restarts seen in testing atm

[2018-07-20 16:58] #44 closed

[2018-07-23 09:00] xek commented on #69
Where do I specify this image?

I see it is hardcoded here: https://github.com/instaclustr/cassandra-operator/blob/b46ef90b049d107da926fff2c18583ce93fbcb1a/java/operator/src/main/java/com/instaclustr/cassandra/operator/service/ControllerService.java#L259

So this is probably where I got it from by following examples from the documentation.

[2018-07-23 21:30] benbromhead commented on #69
Ah right ok, we need to make the sidecar image name part of the Cassandra CRD.

Thanks for pointing that out.

[2018-08-01 17:20] liwang-pivotal opened #75 "DC Deprovision Issue"
Deployed operator on PKS using YAML [here](https://github.com/instaclustr/cassandra-operator/blob/master/examples/common/rbac-bundle.yaml), got exception whiling deleting a test DataCenter cluster below. Seems lack of permissions on PV:
[code]

[2018-08-03 18:25] benbromhead opened #78 "Multi-AZ topologies"
The behavior of Kubernetes scheduling pods across different failure domains is somewhat undefined and hard to control. See for details:

https://github.com/kubernetes/kubernetes/issues/41598
https://github.com/kubernetes/kubernetes/pull/44798
https://github.com/kubernetes/community/pull/1857

Despite recent fixes to statefulsets, we still cannot inject failure domain information into the pods. So

[2018-08-03 18:26] benbromhead commented on #69
You can now specify the side car image via the CRD :)

[2018-08-03 18:26] #69 closed

[2018-08-03 18:26] benbromhead commented on #66
See https://github.com/instaclustr/cassandra-backup

[2018-08-03 18:26] #66 closed

[2018-08-03 18:27] benbromhead commented on #57
Agreed, once we leave pre-alpha/alpha we'll need to figure out naming

[2018-08-03 18:28] benbromhead commented on #12
See https://github.com/instaclustr/cassandra-operator/pull/62

[2018-08-03 18:28] #12 closed

[2018-08-03 18:28] benbromhead commented on #11
see https://github.com/instaclustr/cassandra-operator/pull/62

[2018-08-03 18:28] #11 closed

[2018-08-08 21:31] benbromhead commented on #4
With #81 we should now be able to support enabling auth and encryption. Better/easier support should get baked in, but for the moment it is achievable via user-defined config.

[2018-08-08 21:32] benbromhead commented on #17
You can now attached a configMap with user defined config and keystores via #81. Note this is just via a configMap and doesn't use Kubernetes secrets...

[2018-08-09 18:55] sneko opened #82 "The operator is not working at all :("
Hi,

I'm just installing the operator and it's failing with these errors:
[code]

I took the default configuration of the operator Helm chart... Can someone help me please?

Thanks,

[2018-08-09 19:45] sneko commented on #82
It seems that after restarting (a new time after the previous logs I have posted) the flow is a bit different but it doesn't get when I push the CRD...

[code]

[2018-08-09 20:12] zegelin commented on #82
@sneko which version of K8s?

[2018-08-09 20:13] sneko commented on #82
@zegelin

Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.6", GitCommit:"9f8ebd171479bec0ada837d7ee641dec2f8c6dd1", GitTreeState:"clean", BuildDate:"2018-03-21T15:13:31Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

[2018-08-09 20:24] benbromhead opened #83 "Issue when creating backup snapshot"
23:13:20.114 [BackupControllerService] ERROR o.g.j.m.i.WriterInterceptorExecutor - MessageBodyWriter not found for media type=application/json, type=class com.instaclustr.backup.BackupArguments, genericType=class com.instaclustr.backup.BackupArguments.

[2018-08-09 20:36] sneko commented on #82
@zegelin I'm running Kubernetes on GCE (deployed by Kops).

Here is the logs with -v parameter:
[code]

[2018-08-09 21:25] benbromhead commented on #82
Also could you provide the docker image repo, tag and image id being used by the operator?

[2018-08-09 21:25] benbromhead commented on #82
There is a pending PR to move the helm packages over to using the non-dev images

[2018-08-09 21:28] zegelin opened #84 "Add better logging configurability"
Improve the operator CLI interface to support enabling the K8s API client debug/trace logging. Currently this needs to be done via a custom `logback.xml`, which is painful when run on K8s/via Docker.

Also improve the current `-v` option -- the descripton doesn't match the functionality (currently always enables TRACE)

[2018-08-09 21:31] sneko commented on #82
@zegelin
[code]

[code]

[code]

@benbromhead
I'm using:
[code]

[2018-08-09 21:36] zegelin commented on #82
@sneko have you run the operator on this k8s instance before? The `clusters.stable.instaclustr.com` CRD (and others) are the old versions.

Oops, this was a bad copy&paste on my behalf (missing the 's')
Please try `kubectl get cassandra-clusters -n logging`.

But the invocation for `cassandra-datacenters` was successful which means I'd be surpsed if the list call for clusters failed.

My understan

[2018-08-09 21:42] sneko commented on #82
@zegelin I tried it 2 months ago but there was an issue I posted about the Helm chart so I gave up. I deleted operator and Cassandra CRD but it seems CRD remain. I guess that's not a bit deal since you're using new name, no?

Sorry I pasted my last try without the "s", but that's the same with unfortunately.

For permissions:
[code]

[code]

[2018-08-09 22:00] zegelin commented on #84
Also add better logging for K8s `ApiException`s. They provide a lot more detail, but that info is in other fields of the exception object (response body, headers, status, etc).

TODO: can logback be configured to do this automatically, or can we write some kind of "custom formatter" for that exception type?

[2018-08-09 22:02] zegelin opened #85 "Embed operator git commit + version in manifest and print on startup"
Would be nice to see the git commit SHA and the operator version printed in the logs on startup.

[2018-08-10 18:11] benbromhead commented on #83
Running on latest version of master, does not appear to get this exception?

14:08:58.701 [main] INFO  c.i.c.o.p.o.CreateCustomResourceDefinitions - Creating Custom Resource Definition cassandra-datacenters.stable.instaclustr.com
14:08:58.738 [main] INFO  c.i.c.o.p.o.CreateCustomResourceDefinitions - Custom Resource Definition cassandra-datacenters.stable.instaclustr.com already exists.
14:08:58.7

[2018-08-10 18:13] benbromhead commented on #82
We are unable to replicate this on GKE, can you redeploy the operator with a pullpolicy of Always to make sure you are on the latest version? As we are still mid development on the alpha the latest tag is always changing and may be an old broken version.

Ben

[2018-08-10 18:21] benbromhead opened #86 "Make K8s lookups less brittle"
There are a number of times where we lookup user supplied values that might not exist and we don't handle that, which will cause the operator to exit. Let's handle not finding k8s objects.

[2018-08-10 19:44] liwang-pivotal commented on #82
I couldn't reproduce this issue as well. It's probably not a permission issue, otherwise the exception will be something like `io.kubernetes.client.ApiException: Forbidden`. I suggest you clean all resources (include CRD resource) and use the latest images to give another try.

@sneko Are you still using the latest helm Chart to deploy the operator? Or just a operator YAML file? If latter, can you

[2018-08-10 19:55] liwang-pivotal commented on #83
@benbromhead the `imagePullPolicy` I used is `Always` to make sure avoiding the version issue. I highly suspect that the images on gcr is not latest as yours. The image I'm using is copied from helm:
operatorImage: `gcr.io/cassandra-operator/cassandra-operator:latest`
cassandraImage: `gcr.io/cassandra-operator/cassandra:latest`
sidecarImage: `gcr.io/cassandra-operator/cassandra-sidecar:latest`

[2018-08-12 14:50] sneko commented on #82
@benbromhead I tried to redeploy with the Always policiy but doesn't work too 😢

@liwang-pivotal I just deleted all CRDs including those that were created 3 months ago and after deploying the operator there is no more error about watching clusters... But the issue is not yet solved 😀 because when I now create the Cassandra Cluster the operator doesn't do anything.

I'm using the Helm chart for bot

[2018-08-13 15:08] benbromhead commented on #82
It looks like the watch on the CRD was created successfully. What namespace is the operator in and what namespace is the Cassandra cluster being created in?

When the operator detects the crd you should get a log entry along the lines of `resolving data center`

[2018-08-13 15:11] sneko commented on #82
@benbromhead both operator and cluster are created in my "logging" namespace

[2018-08-13 16:35] liwang-pivotal commented on #82
@sneko currently we're only support watching `default` namespace DC events. Should be a quick fix to make it work for all other specified namespaces. We're on the way to parameterize it. Details are [here](https://github.com/instaclustr/cassandra-operator/blob/f41cd4757045c0fbe0dac3c70702218e9421d85b/java/operator/src/main/java/com/instaclustr/cassandra/operator/modules/DataCenterWatchModule.java#

[2018-08-13 16:58] zegelin commented on #82
@liwang-pivotal thats correct. There is even a `--namespace` CLI option, but its not wired up to anything. I'll raise a ticket to implement it.

[2018-08-13 17:02] zegelin opened #87 "Support namespaces other than `default`"
Currently `default` is hard-coded into every API call that takes a namespace parameter.

There is a CLI option. This should be wired up via Guice and `@Inject`-ed into all the paces that need a namespace.

[2018-08-13 17:02] zegelin commented on #82
Raised #87

[2018-08-13 19:43] sneko commented on #82
@liwang-pivotal @benbromhead @zegelin

Thanks for the help I was able to create my Cassandra cluster by putting the CRD in the default namespace. I will keep an eye on the #87 ;)

I will close this issue but just a last question, I'm trying to use Jaeger with my Cassandra cluster but I get an issue that seems to come from the cluster, it could be an issue about passing some environment variables,

[2018-08-14 00:49] sneko commented on #82
@liwang-pivotal @benbromhead @zegelin

As you can see in the following portion of code:
https://github.com/instaclustr/cassandra-operator/blob/ab15d120a50fb6aee6e461466748d2d8c56278d0/java/operator/src/main/java/com/instaclustr/cassandra/operator/service/ControllerService.java#L174-L206

The operator will just inject environment variables in the sidecar and not in the main cluster container. Is it

[2018-08-21 20:01] liwang-pivotal opened #89 "Lack of Permission while deleting DC cluster on PKS"
[code]

[2018-08-26 14:58] sneko commented on #82
@liwang-pivotal @benbromhead @zegelin

Could you please provide some information if it's the desired behavior (about spreading environment variables)?

Thanks,

[2018-08-27 14:54] benbromhead commented on #82
We didn't explicitly look to pass in env variables to the C* container, but we could certainly look to do so if it would fit your use case.

@zegelin is currently working on better custom configuration support. Would being able to control / modify cassandra-env.sh also meet your goals?

[2018-08-27 16:02] sneko commented on #82
@benbromhead yes I think it could be useful for Cassandra users to customize C* nodes.

I don't need to modify the cassandra-env.sh, according to the issue https://github.com/jaegertracing/jaeger/issues/513#issuecomment-344275159 just passing env variables is enough so they are taken in account.

[2018-08-27 17:18] zegelin commented on #82
@sneko I had a quick look at that jaegertracing ticket you've referenced. So your trying to have Jaeger write to Cassandra, correct? And the issue is that Jaeger is reporting `Cannot achieve consistency level LOCAL_ONE`?

The Cassandra image bundled with cassandra-operator _is not the same_ as the public `cassandra` image. Our image doesn't use environment variables to configure aspects of Cassand

[2018-08-27 21:04] sneko commented on #82
@zegelin indeed that's correct, I get this error.

There is a Jaeger job that creates the schema (https://github.com/helm/charts/blob/master/incubator/jaeger/values.yaml#L42-L63).

Since I'm still under development on my project I think I will focus on using their "embedded" Cassandra for now to make Jaeger working and to make progress on my own business code. But for sure, as soon as I see the ne

[2018-08-27 21:05] #82 closed

[2018-08-29 00:17] liwang-pivotal commented on #89
fixed by PR #90 .

[2018-08-29 00:17] #89 closed

[2018-08-29 19:20] sneko opened #93 "(?) Memory continuosly increasing"
Hi,

I said in my previous issue I will wait for a more improved operator to be able to use Jaeger easily... So I deleted my Cassandra cluster instance but left the operator.

In the meantime one of my nodes has crashed so I looked for the cause of the problem. Looking at all my pods/statefulsets/deployments metrics I noticed that the Cassandra operator memory had increased over time:
![image](htt

[2018-08-29 19:45] #75 closed

[2018-08-29 19:45] liwang-pivotal commented on #75
Refer to PR #90

[2018-08-29 22:02] zegelin commented on #93
@sneko thanks for the bug report. I'll keep an eye out for memory usage problems.
Just to confirm, you have the operator running on the cluster but no Cassandra DC created/managed through it, right? So it should be idle.

[2018-08-29 22:04] sneko commented on #93
@zegelin yes there was no C* DC anymore

[2018-10-07 20:06] snoopdave opened #95 "Null Pointer Exception prevents cluster creation"
I installed via Helm, and saw that the operator was up and running:

[code]

But then when I create a cluster, also via Helm, the Cassandra pods are not created and I see this in the operator's logs:

[code]

Any ideas what I might have done wrong?

[2018-10-08 15:41] benbromhead commented on #95
Hi @snoopdave

Thanks for the feedback. It looks like we missed updating the helm package to include the Prometheus support flag.

I've created the PR #96 to fix it and I will merge shortly.

Ben

[2018-10-08 17:37] benbromhead opened #97 "Heartbeat race condition"
Looks like the hearbeat detector will start before a node is potentially ready and gives up.

6:41:34.227 [JMX client heartbeat 2] WARN  c.i.c.o.j.CassandraConnectionFactory - JMX connection to /10.8.1.8 unexpectedly failed. javax.management.remote.JMXConnectionNotification[source=javax.management.remote.rmi.RMIConnector$RMIClientCommunicatorAdmin@33ab4d49][type=jmx.remote.connection.failed][messa

[2018-10-08 18:01] benbromhead opened #98 "C* JVM no longer exits on OOM"
WARN  [main] 2018-10-08 17:52:27,160 StartupChecks.java:220 - The JVM is not configured to stop on OutOfMemoryError which can cause data corruption. Use one of the following JVM options to configure the behavior on OutOfMemoryError:  -XX:+ExitOnOutOfMemoryError, -XX:+CrashOnOutOfMemoryError, or -XX:OnOutOfMemoryError="<cmd args>;<cmd args>"

[2018-10-08 18:03] benbromhead opened #99 "C* preferred heap size settings"
On an 8Gi pod claim, we are setting heap size to 2GB. Is this optimal? I know we need to leave space for offheap but this is probably a bit too conservative. Maybe minimum recommended pod size should be 16GB (8 miniumum for heap, 8 for offheap)

INFO  [main] 2018-10-08 17:52:27,082 CassandraDaemon.java:481 - Heap size: 2.000GiB/2.000GiB

[2018-10-08 18:05] zegelin commented on #99
Yes, these could be tuned better. See https://github.com/instaclustr/cassandra-operator/blob/master/java/operator/src/main/java/com/instaclustr/cassandra/operator/controller/DataCenterReconciliationController.java#L324

That logic should be similar to the default `cassandra-env.sh`, but this should be confirmed.

[2018-10-08 18:32] benbromhead commented on #98
Closed for #100

[2018-10-08 18:32] #98 closed

[2018-10-08 18:33] benbromhead commented on #97
Closing in favor of #54

[2018-10-08 18:33] #97 closed

[2018-10-08 18:34] benbromhead commented on #95
Just merged, you should no longer get the NPE when creating a cluster via the helm package.

Feel free to reopen/comment if you are still getting this issue.

[2018-10-08 18:34] #95 closed

[2018-10-09 20:15] snoopdave commented on #95
Thanks! that worked for me.

[2018-10-10 05:50] gilblau opened #102 "no matches for stable.instaclustr.com/, Kind=CassandraDataCenter"
Hi,

Trying to deploy, using the following command:
kubectl create -f test.yaml

I get the following err msg:
error: unable to recognize "test.yaml": no matches for stable.instaclustr.com/, Kind=CassandraDataCenter

[2018-10-11 16:32] benbromhead commented on #102
Hi @gilblau

Have you first installed the Operator, it will automatically create the CassandraDataCenter CRD?

You can either install it via the Helm package in the repo, or via bundle.yaml or rbac-bundle.yaml.

[2018-10-11 16:34] benbromhead commented on #87
See #103

[2018-10-11 16:34] #87 closed

[2018-10-11 16:35] benbromhead commented on #85
Solved

[2018-10-11 16:35] #85 closed

[2018-10-11 16:36] benbromhead commented on #40
See #103

[2018-10-11 16:36] #40 closed

[2018-10-15 17:42] benbromhead opened #106 "Code style enforcement"
Look to have some sort of code style check on build or check-in or something

[2018-10-15 18:01] benbromhead commented on #18
Complete due to #92

[2018-10-15 18:01] #18 closed

[2018-10-16 18:41] benbromhead opened #107 "Support Canary deployments"
https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#rolling-out-a-canary

[2018-10-17 19:52] snoopdave opened #109 "Need for client access documentation"
I've got a cluster up and running and I can successfully run nodetool via kubectl exec, but I have not yet figured out how to access the cluster from my application's Pod (via the Datastax Java Driver).  The two services created by cassandra-operator do not have IP addresses. I tried using the service name, but that resulted in java.net.UnknownHostException.

How should a Cassandra client discover

[2018-10-19 05:59] yhekma opened #110 "Unclear on how to configure for non-default ns"
Since https://github.com/instaclustr/cassandra-operator/pull/103 was merged, support for namespaces other than `default` should be there. I am however not clear on how to configure it. It doesn't seem to work "out of the box" (ie. the operator watches the ns that it is configured in) or maybe I am doing something wrong? I just deployed the operator and cassandra with default values in a namespace

[2018-10-22 16:43] benbromhead commented on #110
Hi @yhekma

Apologies we haven't updated documentation for namespace support. The way it's implemented is actually the namespace the operator will watch for changes to CRD / operator manage resources. This is not an optimal way to do so (we should watch all namespaces... maybe), but its the implementation as it stands.

To changes the namespace the operator watches (it can be deployed in a differe

[2018-10-22 16:44] benbromhead commented on #110
I'll look to update documentation and helm packages this week... or look at fixing namespace support properly

[2018-10-22 17:51] yhekma commented on #110
@benbromhead thanks a lot, works now

[2018-10-22 17:51] #110 closed

[2018-10-24 19:34] nkrendel opened #112 "FailedScheduling - pod has unbound PersistentVolumeClaims"
Hi, I'm trying to deploy this operator to a AWS EKS cluster.  I am using the examples/common/test.yaml to create a test cluster, but the pods never become active because of unbound PVCs:

[code]
I'm not sure if I'm supposed to configure the dataVolumeClaim somehow, or if is supposed to configure itself?!

[2018-10-24 19:41] benbromhead commented on #112
iirc AWS EKS clusters are not created with any storage classes by default. So stateful sets won't be scheduled until there are volumes they can use.

Check out https://docs.aws.amazon.com/eks/latest/userguide/storage-classes.html for more details.

If you have configured storage and are still getting the issue let me know.

[2018-10-24 20:11] benbromhead commented on #102
Hi @gilblau

Just checking if you are still experiencing this issue?

Ben

[2018-10-24 20:14] nkrendel commented on #112
yep that worked!  just had to add a 'storageClassName'.  Thanks!

[2018-10-24 20:14] #112 closed

[2018-10-24 20:36] benbromhead commented on #109
Hi @snoopdave

Sorry for the slow response. You should be able to access the cluster via the automatically created service titled CLUSTER_NAME-cassandra-nodes. This is a headless service that will resolve a list of IPs for each node, most DNS clients that just expect a single IP address will use the first IP returned including the datastax driver.

For a properly configured container that uses Kub

[2018-10-26 20:42] benbromhead commented on #102
Closing out issue, @gilblau feel free to reopen if needed

[2018-10-26 20:42] #102 closed

[2018-10-30 20:42] benbromhead commented on #109
Hi @snoopdave

We haven't heard any further update of the issue, feel free to reopen the issue if you are still experiencing it.

Ben

[2018-10-30 20:42] #109 closed

[2018-10-30 21:16] snoopdave commented on #109
Thanks @benbromhead. I have not had a chance to try this out, but I will once I get back to my Cassandra work.

[2018-11-01 19:05] benbromhead commented on #83
Have not seen issue again, appeared to be old image problem

[2018-11-01 19:05] #83 closed

[2018-11-02 15:18] benbromhead commented on #7
Implemented with #113

[2018-11-02 15:18] #7 closed

[2018-11-02 15:21] benbromhead commented on #27
On further thinking about this, trying to recreate specific resources (especially statefulsets) if they are deleted manually is quite tricky.

We do react to ss changes, but I don't think it's the responsibility of the operator to try and fix up the many ways a user could mess with things. I think its just a matter of saying "if you mess with these resources, you are on your own and behavior is un

[2018-11-02 15:21] #27 closed

[2018-11-07 19:50] zegelin opened #116 "Allow running on unprivileged clusters"
Trying to run the operator/cassandra on an unprivileged cluster results in an error.

```create Pod cassandra-test-cluster-cassandra-0 in StatefulSet cassandra-test-cluster-cassandra failed error: Pod "cassandra-test-cluster-cassandra-0" is invalid: spec.initContainers[0].securityContext.privileged: Forbidden: disallowed by cluster policy ```

Maybe we can make the init container optional?

[2018-11-07 19:54] zegelin opened #117 "Embed cassandra.yaml/env.sh/jvm.options into CRD directly"
It might be a good idea to directly embed the `cassandra.yaml`/`cassandra-env.sh`/`jvm.options` fragments directly into `CassandraDataCenter` CRD instances, skipping the creation of `ConfigMaps`, etc.

This use-case is for when direct access to K8s isn't available, such as via Pivotal CloudFoundry (Bazzar/Kibosh). In these cases, a service-broker is responsible for creating the objects in K8s.

[2018-11-08 15:06] benbromhead commented on #117
Do service brokers support custom/arbitrary fields?

[2018-11-08 15:15] benbromhead commented on #116
We need to run a privileged container to configure certain OS options that will allow Cassandra to run in a reliable manner.

We can certainly make it optional, but it will make Cassandra more likely to break.

[2019-01-02 09:29] zwennesm opened #122 "Unable to create cluster in different namespace"
Hi everyone,

I'm not 100% sure if the issue is cluster related or cassandra-operator related but it seems that when deploying a cluster to another namespace, the cassandra-operator is unable to create a Statefullset and pods.

Cluster details:
[code]
When i describe the newly created `CRD` it gives me the following response:

[code]
For some reason no events are being triggered. And i am unable t

[2019-01-02 22:04] benbromhead commented on #122
Hi @zwennesm

Thanks for the issue report, currently support for other namespace is a little bit lazy and how to use it was buried in previous issue commentary.

I've updated the ops guide with instructions on how to get it working as it stands. However, I will get started on proper support for all namespaces this week now that I have some bandwidth.

See https://github.com/instaclustr/cassandra-o

[2019-01-02 22:04] #122 closed

[2019-01-11 03:27] cin opened #126 "Support using imagePullSecrets"
I'm testing this on IBM Cloud's Kubernetes service and would like to use `imagePullSecrets` for added security and ease of testing -- I can easily push dev builds to IBM Clould's container registry and test outside minikube. I did some preliminary work on making this happen but wanted to submit a PR before going too far.

[2019-01-28 09:46] devlounge opened #128 "pull cassandra image from official cassandra dockerhub"
I'd recommend you to pull cassandra from its official repo, instead of yours

[2019-01-28 20:14] benbromhead commented on #128
Any reason why?

[2019-01-31 22:20] benbromhead commented on #128
Closing due to lack of further information. Feel free to reopen this issue once you have more information.

[2019-01-31 22:20] #128 closed

[2019-02-20 15:07] esperimenti opened #129 "Cassandra pod fails on OOMKilled when deploying the "test-cluster" using helm charts"
Hi,
I am trying to deploy the C* test-cluster using the helm charts instructions provided in the "op_guide.md": https://github.com/instaclustr/cassandra-operator/blob/master/doc/op_guide.md

The cassandra-operator is being deployed successfully:
`helm ls
cassandra-operator      1               Wed Feb 20 16:25:39 2019        DEPLOYED        cassandra-operator-0.1.0        default

NAME

[2019-02-21 13:11] esperimenti commented on #129
Solved after tuning the Cassandra to start with more resources:
here is the updated section of the "helm/cassandra/values.yaml":
resources:
  limits:
    memory: 2Gi
  requests:
    memory: 1Gi
dataVolumeClaim:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

[2019-02-21 13:11] #129 closed

[2019-02-21 19:31] eriksw commented on #78
Kubernetes 3.11 has been out for a while. Is there any update on this?

[2019-02-21 20:14] eriksw opened #130 "Failure Scenario: Loss of Kubernetes Cluster"
This might just be an issue of documentation, but what are the steps to restore a backup when the backup CRD isn't there but the data does still exist in S3?

There are two variants of this scenario, but I suspect the steps are the same:

1.  The Kubernetes cluster where the backup was created is still running, but I want to restore the data into a different Kubernetes cluster. (In a different clo

[2019-03-24 18:06] #126 closed

[2019-03-26 16:30] rimolive opened #132 "Cannot deploy Cassandra operator on OKD"
I am trying to deploy Cassandra on OKD (okd.io) which has k8s 1.11 but the pod is failling with the following message:

[code]

[2019-03-27 05:11] zegelin commented on #132
Hi @rimolive. That message is a warning hinting that the build of the operator that you're running hasn't yet been tested to work with the version of K8s your using (1.11). For newer versions of K8s its typically okay to ignore this warning.

You say that the operator is failing. Are there any other error messages or items in the log?

[2019-03-30 10:35] rimolive commented on #132
The first strange thing is when I run `oc create -f examples/common/test.yaml`, which returns the following message:
[code]
Then the pod logs always return the following:
[code]

If possible, it would be good create a specific doc on deploying Cassandra operator on OKD since there are some particular things that makes deployment different than in k8s.

[2019-04-03 17:48] benbromhead commented on #132
Hi Rimolive

It appears that the user that the operator is installed under does not have permissions to create the required CRDs. For more robust permission/installation I would invite you to look at the included helm packages as they will create the required service accounts.

If you can't use helm in your environment, you can still use helm to generate the required yaml via the cli's `helm templ

[2019-04-05 17:14] benbromhead opened #140 "MessageBodyReader not found for media type=application/json"
Operator errors out when talking to sidecar.

ERROR [OperatorService] c.i.c.o.c.DataCenterReconciliationController: Failed to get the status of Cassandra Pod cassandra-cstar-cassandra-2. {StatefulSet=default/cassandra-cstar-cassandra, DataCenter=default/cstar-cassandra}
java.util.concurrent.ExecutionException: javax.ws.rs.client.ResponseProcessingException: org.glassfish.jersey.message.internal.Me

[2019-04-06 14:22] #140 closed

[2019-04-09 20:09] benbromhead opened #142 "Insufficient permissions in Helm package"
INFO  [OperatorService] c.i.c.o.service.OperatorService: Deleting Data Center. {DataCenter=default/cstar4-cassandra}
ERROR [OperatorService] c.g.c.util.concurrent.ServiceManager: Service OperatorService [FAILED] has failed in the RUNNING state.
Response details of io.kubernetes.client.ApiException: Forbidden:
	HTTP response code: 403
	HTTP response headers: {Content-Type=[application/json], X-Cont

[2019-04-10 16:30] benbromhead opened #144 "K8s client JSON error"
Turns out we are hitting this https://github.com/kubernetes-client/java/issues/86

ERROR [OperatorService] c.g.c.util.concurrent.ServiceManager: Service OperatorService [FAILED] has failed in the RUNNING state.
com.google.gson.JsonSyntaxException: java.lang.IllegalStateException: Expected a string but was BEGIN_OBJECT at line 1 column 4211 path $.status
	at com.google.gson.internal.bind.Reflective

[2019-04-10 16:37] benbromhead commented on #144
Work around is to catch exception and move on (or retry until status is returned)

[2019-04-10 18:56] benbromhead commented on #144
#143

[2019-04-10 18:56] #144 closed

[2019-04-10 18:57] benbromhead commented on #142
#143

[2019-04-10 18:57] #142 closed

[2019-04-11 20:46] rimolive commented on #132
@zegelin @benbromhead Do you have a public channel to discuss about the operator? I'd like some help to build the operator.

[2019-04-11 20:51] benbromhead commented on #132
Currently we just run everything through github issues. We should/could probably turn on gitter or something at some point. For the moment, feel free to just ask through an open issue.

[2019-04-11 20:55] rimolive commented on #132
Alright, thanks! I'm trying to build the images but the base-openjre fails. I'm using make to build them and I noticed that the base-openjre Makefile does not define a DOCKER_REPO env var:

https://github.com/rimolive/cassandra-operator/blob/master/docker/base-openjre/Makefile#L1-L3

I don't know if make expects I define this env var manually or if it is a bug in the Makefile. What do you think?

[2019-04-11 21:04] benbromhead commented on #132
You will want to define the base repo as an env var before running make e.g.

`ben@~/git/cassandra-operator $ REPO=gcr.io/cassandra-operator make`

We might also slightly change the way you pass in the repo to require a trailing slash, that way when you build without a specific repo it won't matter.

[2019-04-11 21:05] benbromhead commented on #132
cc @zegelin

[2019-04-11 21:12] benbromhead commented on #132
You might also need to make sure your master branch is up to date! We have been fixing a number issues related.

[2019-04-14 16:21] rimolive opened #145 "Operator resource limits are not enough"
The operator limits are defined with low memory. I needed to increase to make it run in my cluster.

I added 300Mi to make operator run without get OOM killed.

[2019-04-15 03:16] rimolive opened #147 "Use other build commands for Images"
I am building operator code on Fedora, and as Docker in Fedora is another distribution and there is another builder that is OCI compliant, there should be a way to make builds check for this other command and run accordingly.

[2019-04-15 19:52] zegelin commented on #147
Support for alternate build systems is, at this time, not a high priority for the project. That said, we'd be grateful if you could provide suggestions, advice or even a PR that adds this functionality.

[2019-04-17 19:36] jakaka12 opened #151 "/usr/bin/cql-readiness-probe: no such file or directory"
I'm trying to deploy a cassandra cluster using helm in minikube (with the given commands in the [Operations Guide](https://github.com/instaclustr/cassandra-operator/blob/master/doc/op_guide.md)). I've increased memory limits, so I am no longer experiencing OOM problems, but it looks like cql-readiness-probe wasn't copied to the cassandra container.
I see a copy in the docker directory in the repo,

[2019-04-17 19:54] benbromhead commented on #151
Can you try with the non-dev images?
e.g.

image:
  cassandraRepository: gcr.io/cassandra-operator/cassandra
  sidecarRepository: gcr.io/cassandra-operator/cassandra-sidecar
  cassandraTag: 3.11.3
  sidecarTag: latest

cc @zegelin

[2019-04-17 20:37] jakaka12 commented on #151
[code]

When using latest, it pulls the latest image. Image id: `docker-pullable://gcr.io/cassandra-operator/cassandra-dev@sha256:88c256f2bed064835d7931a9cd6970bf59232607f7b1f4b5ca32d1f7472eecc4`

[2019-04-17 20:43] zegelin commented on #151
Hi @jakaka12.

As @benbromhead mentioned, try using the non-dev image, ie. `gcr.io/cassandra-operator/cassandra:3.11.3`.

I'll investigate as to why the latest dev image doesn't have the readiness-probe script.

[2019-04-17 20:51] jakaka12 commented on #151
That seemed to work. Thank you!

[2019-04-17 20:51] #151 closed

[2019-04-17 22:26] zegelin commented on #151
Determined the cause of the error. The `cassandra-dev` image is old. At some point the readiness probe script location changed from `readiness-probe` to `cql-readiness-probe`.

[2019-04-19 09:48] DBarthe opened #152 "is backup working already ?"
Hello,

I've been playing with your operator and faced some issues regarding backups :
* When restoring a cluster, the sidecar-restore init container should configure the `initial_token` based on what is found on the manifest in the bucket storage. My solution was to create a configuration directory in the persistent volume where the sidecar-restore container can write additional config at runtime

[2019-04-19 14:28] benbromhead commented on #152
Thanks for reporting the issue.

Currently the backup agent stores the token list on backup, however there is a todo for the restore task to generate a yaml fragment with initial_token set. With the fragment yaml configuration loader we have, this should be sufficient.

I can look at fixing this, or if you want to have a go at it, I'm more than happy to help/guide/review when you are ready.

If yo

[2019-04-20 10:02] DBarthe commented on #152
Thanks @benbromhead for your quick answer,

I implemented a solution using the data volume to store extra configuration fragments generated at runtime by sidecars. Do you like this approach ?

[2019-04-22 17:53] benbromhead opened #154 "Support selecting the right port based on SSL config"
Based on support for SSL internode based on #153 we will want to support only exposing the right port as its the right thing to do.

[2019-04-22 17:58] benbromhead commented on #152
The sidecar can certainly generate configuration fragments on its own, ideally though config is generated based on runtime/pod config and doesn't rely on storing config state in the data volume.

The only persistent state we want to have to deal with is cassandra data in the data volume. Persistent config data should be stored in configmaps/crds etc, or be derivable by the operator from them.

So

[2019-04-22 18:00] benbromhead commented on #132
Closing issue as haven't had an update in a while.

[2019-04-22 18:00] #132 closed

[2019-04-22 18:02] benbromhead commented on #145
Closing issue as limits are specified by the end user in the CRD definition. Defaults in the example yaml  directory has been updated

[2019-04-22 18:02] #145 closed

[2019-04-24 10:50] DBarthe commented on #152
Not sure we can write to the config map from the sidecar, and get the result synced to the elassandra container before it starts.
Maybe the operator should find a way to set the initial token itself.

[2019-04-24 14:52] benbromhead commented on #152
The pod will have a unique identity guarantee due to the properties of the stateful set. The ordinal and IP are guaranteed to be unique and follow the pod for the stateful sets lifetime. The backup agent should store the backup (and the token list) with the backup (e.g. in S3).

On restore the agent can pull the token list associated with the backup from the backup location (apologies this is an e

[2019-04-25 08:58] DBarthe commented on #152
Thanks, that's simpler than what I thought initially. I'll try it that way and submit a PR soon.

[2019-04-25 16:13] benbromhead commented on #152
Awesome
cc: @zegelin

[2019-04-30 15:04] benbromhead opened #157 "Resource cleanup"
The operator creates a number of objects that it manages as part of running a Cassandra cluster. Specifically it creates a statefulset and maybe some configMaps. Cleaning up the associated resources can be tricky and currently we rely on the operator to do so.

Kubernetes has the concept of an ownerReference (https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#owners-and-

[2019-05-09 09:27] DBarthe commented on #2
Hello,

I have one interrogation about the current seed discovery mechanism. Not sure if it's better to open a new issue...

Today, all nodes are seeds nodes (DNS resolution of the headless service with `tolerate-unready-endpoints` annotation returns all POD_IP of the statefulset, even unready pods).

That means when the datacenter is scaled up, the new node will consider itself as a seed and ther

[2019-05-09 15:48] #54 closed

[2019-05-09 16:01] zegelin commented on #2
Good catch. Yes, we're currently setting all nodes as seeds, which does result in any new nodes not automatically bootstrapping.

Open to suggestions on how to limit the number of seeds/how to pick them.

[2019-05-09 16:25] benbromhead commented on #2
Can we annotate a subset of nodes in a stateful set? E.g. just the first two and create a seeds service?

Otherwise maybe change the seed provider to just grab the first X addresses from a dns record that returns multiples. Then for multi-dc we just pass in multiple service names, but it only grabs the first two (or X) for each:?

[2019-05-09 20:45] DBarthe commented on #2
For simplicity, I added the label selector : `statefulset.kubernetes.io/pod-name=elasandra-dcName-0` on the seeds service. It works with only 1 seed per DC.

Unfortunately, I found that service selector does not support "or" semantics for labels, and statefulset does not allow to add a specific label to a subset of pods. It wouldn't work with more than 1 seed.

Whatever option, the second seed sho

[2019-05-15 15:21] isaacreath opened #165 "EmptyDir as a storage option?"
I've started using the operator for use cases where data persistence after a pod dies isn't really a requirement (for example, running stress tests). On bare metal clusters where creating a PVC means manually creating/deleting persistent volumes, it's been very convenient to use an EmptyDir volume for these use cases. I've implemented this in my own fork of the operator by using an EmptyDir as a d

[2019-05-15 21:00] benbromhead commented on #165
Definitely! We would love to see the pull request come in.

We are also looking at having the operator automatically clean up pvc (configurable)

[2019-05-15 23:15] jakaka12 opened #168 "is resize working already?"
I followed the documentation to scale my cluster up from 3 nodes to 5, and back down as well. In both cases, with and without helm, I am only able to scale up and down by 1 node regardless of what I set my `replicas` value to. I don't see any errors or failures in the operator logs, and the statefulset desired number is only one more or less than the original node count.

From the documentation it

[2019-05-15 23:19] zegelin commented on #168
How long are you waiting for the scaling operation to complete?

When you change the `CassandraDataCenter` `replicas` field, the operator will _safely_ scale the Cassandra cluster. When scaling up, it waits for each node to finish joining before adding the next. On scale-down, the operator will wait for decommissioning to complete.

As a result, the observed behaviour is that the StatefulSet will

[2019-05-16 14:56] benbromhead commented on #152
Closing thanks to #160

[2019-05-16 14:56] #152 closed

[2019-05-16 14:57] benbromhead commented on #147
Closing issue and tracking via PR #150

[2019-05-16 14:57] #147 closed

[2019-05-16 14:57] benbromhead commented on #157
Closing as we will get this for free with the move to the operator-sdk

[2019-05-16 14:57] #157 closed

[2019-05-16 16:44] jakaka12 commented on #168
How long is eventually? The cluster doesn't have any data in it yet, and it is taking over 19 hours to add 2 nodes to a 3 node cluster. I will keep monitoring, but if there is an expected time frame for a cluster with no data, I'll have a better sense of how long I should wait before I see that 5th node. Thanks.

[2019-05-16 17:41] benbromhead commented on #168
It shouldn't take that long. What do the logs for the joining cassandra node say and the existing nodes say?

You can get this via `kubectl logs _podname_ cassandra`

[2019-05-16 18:06] jakaka12 commented on #168
Logs from existing nodes:
[code]
Logs from joining node look the same as the startup logs from the other existing nodes:
[code]
Healthcheck from the operator is normal for all the 4 nodes and nodetool status also shows all nodes up and normal.

[2019-05-17 15:32] benbromhead commented on #168
Thanks for that, which version of the operator images are you currently deploying? If you can provide the image name. Also in the operator logs it should log the version and git hash

[2019-05-17 18:48] jakaka12 commented on #168
[code]
From values.yaml (using helm)
[code]

[2019-05-17 18:50] zegelin commented on #168
@jakaka12 Please post the whole operator log. I'd like to see in more detail what it's doing.

Also, what environment is this running on? GKE? Minikube?

[2019-05-17 20:42] jakaka12 commented on #168
Sorry, that was a different one that I was testing. Here are full operator logs from Minikube.
[operator.log](https://github.com/instaclustr/cassandra-operator/files/3193027/operator.log)

[2019-05-18 02:42] benbromhead commented on #168
Thanks, see #170 which should fix your issue!

[2019-05-20 20:29] jakaka12 commented on #168
Thanks @benbromhead. The latest merges to master seem to have fixed the issue.

[2019-05-20 20:29] #168 closed

[2019-05-22 19:16] jakaka12 commented on #168
@benbromhead , @zegelin, Is there a slack channel or support thread instead of creating more issues for these types of questions?

[2019-05-23 15:13] zegelin commented on #168
@jakaka12 not currently. We're happy to answer questions via GiHub issues at this time.

[2019-05-31 18:44] benbromhead opened #178 "Port secret/keystore support"
Currently the Java based operator allows users to specify secrets to embed in the C* pods and provide custom configuration for the nodes to use those keystores. This allows users to setup TLS encryption for internode encryption and client-node encryption.

We need to ensure the operator-sdk based version also supports this workflow

[2019-05-31 18:46] benbromhead opened #179 "Port backup/restore"
Currently the Java operator supports taking backups and uploading them to S3, Azure, GCP and a filesystem based location. It also supports creating a new cluster and restoring an existing backup into it.

The operator-sdk based version of our operator needs to support this.

[2019-05-31 18:49] benbromhead opened #180 "Port Prometheus support"
The java based operator supports configuring Cassandra to expose metrics in a prometheus friendly manner (see instaclustr/cassandra-exporter). The operator also supports automatic discovery of new clusters and nodes within prometheus.

We need to ensure the operator-sdk versions supports this workflow

[2019-05-31 18:53] benbromhead opened #181 "Support maintenance operations"
We need to support a basic workflow that allows the operator to perform specific maintenance operations such as cleanup and rebuild.

The workflow should allow users to manually do these operations on the node (e.g. via the sidecar api) as well as the operator doing these after normal operations. E.g. performing a repair then cleanup after scaling down.

Key operations to support include:

- clean

[2019-05-31 18:55] benbromhead opened #182 "Support automatic and graceful config changes"
Upon a user modifying a configmap, we need to detect this change and gracefully propagate it throughout the cluster that references that configmap.

[2019-05-31 19:07] benbromhead opened #183 "Better testing"
We had some minimal tests with the java operator, however it was a pita to write and run them. The operator-sdk makes this all a bit nicer with its built in machinery. We should write some better integration and e2e tests.

[2019-05-31 19:11] benbromhead opened #184 "Build/Test workflow"
Currently we just run unit tests on PR, then on merge to master we do full e2e tests. All via circleci.

With a goal of one day having a master branch that is always green/working.

We should look to having a workflow of PR (unit tests run) -> Review -> Merge to integration testing branch -> merge to master on success.

We can't run e2e tests on PRs due to ability to steal creds from circleci or s

[2019-05-31 19:14] benbromhead opened #185 "Support automatic repairs"
Support for automatic repairs... likely let's just use reaper.

[2019-06-05 00:09] smiklosovic commented on #178
hi @benbromhead, if I got it right, it is basically this PR which we need to port?

https://github.com/instaclustr/cassandra-operator/pull/153/files

[2019-06-05 00:45] smiklosovic commented on #181
Just for clarification, it seem we will do that via Sidecar from operator and Sidecar would do that via JMX against Cassandra.

Hence, clearly, we need a Go client part for that, possibly Sidecar sending any JSON body with some metadata how to do that (e.g. what keyspace to rebuild with other possible options and so on).

[2019-06-05 00:59] benbromhead commented on #178
There are other PRs related to it, but that PR describes the functionality fairly well iirc

[2019-06-05 01:00] benbromhead commented on #181
Sidecar will take care of JMX interop, so yeah it will be somewhat of a Operator ->JSON/HTTP reg to sidecar -> sidecar translates to JMX call -> jmx call to C*

[2019-06-05 02:24] benbromhead commented on #181
Rebuild and scrub probs not needed for initial release in the sidecar

Users can still run these via kubectl exec... if needed

[2019-06-18 04:09] smiklosovic commented on #181
All operations are implemented here

https://github.com/smiklosovic/cassandra-operator/tree/operation-upgradesstables

This can go in after @zegelin implements / improves OperationRequest validation as agreed privately.

This lacks tests, we can do them in separate PR, the most probably based on Python + CCM.

[2019-06-27 14:50] benbromhead opened #189 "Provide CRD definition as part of the helm package"
Problem:
When setting up a service that depends on Cassandra via a Helm package, users cannot install the operator and define a Cassandra cluster at the same time. For example in a helm package. This is because we have the operator install the CRD rather than the helm package for the operator.

Solution:
it may make sense to provide the CRD definition separately as part of the operator helm so it

[2019-06-27 14:52] benbromhead commented on #189
An example of Helm charts with potential Cassandra dependencies would be Kong or Cortex

[2019-07-24 15:46] johananl opened #203 "Switch from dep to Go modules"
The Go community seems to converge towards Go modules as the standard Go dependency management tool. We should consider switching to Go modules instead of `dep`.

In addition to using the canonical Go way for dependencies, doing the switch has the added benefit of being able to build the operator in any directory, regardless of `GOPATH`, which makes for a nicer user experience, especially for peop

[2019-07-24 16:53] johananl opened #204 "Adapt build process for Docker/Go"
The current build process could use some improvement, especially when moving to Go and a container-oriented approach.

Current issues:

- The Dockerfile for `cassandra-operator` isn't at the root of the repository. This forces the user to build the image using `docker build -f` from the *root* of the repository (because you cannot `COPY` files from a parent directory that's outside the build conte

[2019-07-26 18:19] johananl opened #208 "Setting sysctl parameters on nodes"
This issue is partially discussed in https://github.com/instaclustr/cassandra-operator/issues/116.

## General

At the moment the Go version of the operator sets `vm.max_map_count` on worker nodes by running a privileged init container:

https://github.com/instaclustr/cassandra-operator/blob/cfb76a760d0b6f1c5dcc272c758adb18b5109254/pkg/controller/cassandradatacenter/statefulset.go#L162-L175

Doing

[2019-07-26 18:34] johananl opened #209 "Java-related CVEs in cassandra and cassandra-sidecar Docker images"
There are currently multiple security vulnerabilities in the `cassandra` and `cassandra-sidecar` Docker images. Some of them are classified as high-risk by the Debian security tracker.

Not all of these are fixed yet, but some are, for example: https://security-tracker.debian.org/tracker/CVE-2019-2698

The Java version is set in the base image `base-openjre`:

https://github.com/instaclustr/cassan

[2019-07-26 19:45] johananl opened #212 "Wrong signal handling leads to slow pod termination"
The `cassandra` and `sidecar` containers in the pods created by the operator aren't currently handling Linux signals. This has the following implications:

- The application doesn't have a chance to perform cleanup operations, assuming any are defined.
- Pod termination takes an unnecessarily long time.

This is usually caused by one of the following:

- Using `ENTRYPOINT "/my-script"` instead of

[2019-07-26 20:04] zegelin commented on #212
Base on our experience, Java apps behave correctly when running as PID 1, as Java explicitly installs signal handers for most signals, rather than relying on the defaults (which IIRC _don't_ get installed automatically if the PID is 1).

Having C* and sidecar run as PID 1 should work fine.

[2019-07-26 20:06] johananl commented on #212
Great, then we just need to merge #211 and we can close this.

[2019-07-26 21:19] zegelin commented on #208
`privilegedSupported` being missing on the Go side is indeed a regression. @alourie we need to add this.

Also agree that perhaps `privilegedSupported` isn't the best name, and that something like `optimizeSysctl` or `tuneSysctls` would be better.

The original name is derived from that fact that to call `sysctl` the security context `Privileged` flag needs to be set to true.

[2019-07-26 21:21] zegelin commented on #203
This tripped me up badly when getting into this rewrite and Go for the first time.

Perhaps this means that all the Go code can also sit under a `go/` directory, rather than in the project root, ala the Java code?

[2019-07-26 21:42] zegelin commented on #208
Actually, I'd like to open this for discussion with @benbromhead @smiklosovic

Cassandra really likes to create a large number of memory mappings, and doesn't handle things gracefully when this fails.

I can see a few options:

- Default to `true`. This results in Pod creation failure on clusters that don't support privileged containers. This gives upfront discovery of the problem, rather than hav

[2019-07-26 21:48] zegelin opened #213 "Port user config map support."
The Java project supports user-specified ConfigMaps via the `userConfigMapVolumeSource` field of the `CassandraDataCenter` CRD.

[2019-07-26 22:37] zegelin opened #214 "Poll Cassandra status and reconcile CDC if changes are detected."
The Java project periodically polls the status of every C* node (via the sidecar REST endpoint). If any changes to the status are detected it triggers a reconcile.

This is used to trigger the second reconcile in the event of a decommission.

[2019-07-27 10:44] alourie commented on #116
@zegelin following from #208, will work on this soon. Will restore the `privelegedSupported` functionality and whatever else will be needed here.

[2019-07-29 10:08] johananl commented on #203
It's possible, though not very common in Go projects.

Do we expect both Go code and Java code to coexist in this repository once the rewrite is done? If we don't, then I guess we don't need to think about `go/`. If we do, I believe the remaining Java code will be the **sidecar**, in which case we should maybe think about moving the sidecar to a separate repository (which would also solve the issu

[2019-07-29 10:20] johananl commented on #208
I'm not a C* expert but FWIW, I'm for option #2 (default to `false`, memory-hungry features off). My rationale:

- It is very common for OSS projects to give something that just works by default, with proper warnings in the docs (and maybe in the logs, too) regarding production readiness.
- There is a good chance that a large portion of project visitors just want to experiment and not run a produc

[2019-07-29 10:23] johananl commented on #212
#211 is merged. Closing.

[2019-07-29 10:23] #212 closed

[2019-07-29 15:02] benbromhead commented on #208
I think the defaults should prioritize a stable, easy initial experience. So happy to leave it set to false and C* configured however it needs to be to make it work better.

As long as we have comments in the example yaml files and helm packages saying it should be turned on in production, maybe a WARN in the operator logs and a production documentation page.

[2019-07-29 17:46] smiklosovic commented on #179
@zegelin please do the very first review of the backup-restore branch here. Due to size of that work, I can create PR or we can do this offline.

It is _not_ fully finished, for sure restores are not, but the main work is done and I would like to merge this sooner than later to build the complete restore functionally on it.

(1) https://github.com/smiklosovic/cassandra-operator/tree/backups-restor

[2019-07-31 08:26] jeevatkm commented on #203
@johananl FYI, above mentioned approach will not work for Resty v2 release.

Please refer to release notes https://github.com/go-resty/resty/releases/tag/v2.0.0 at `Breaking Changes - Migrating v1.x to v2`

Also refer to readme at https://github.com/go-resty/resty#installation and usage section.

Thanks!

[2019-08-01 12:51] johananl commented on #209
Closed in #210.

[2019-08-01 12:51] #209 closed

[2019-08-05 18:39] johananl commented on #203
Hi @jeevatkm. Thanks for responding here! :-)

Which approach? Any idea what I'm doing wrong and how to fix it?

[2019-08-05 21:07] zegelin opened #220 "Port LDAP and Kerberos support"
Commit b70f0cb068e84fa39a43a3544c9c8a3101f0ffee introduced LDAP and Kerberos support to master.

This needs to be ported to the rewrite.

[2019-08-06 03:28] alourie opened #221 "Port building artifacts from master branch to go work"
From #207

Master supports LDAP and Kerberos too, and a bunch of other changes were made to fix CircleCI builds and stuff. We should bring these changes over to the rewrite branch.

[2019-08-06 04:48] alourie commented on #208
@zegelin @benbromhead so, if it's disabled (by default), what corresponding params should/shouldn't be in cassandra yaml? I can do it together within #218

[2019-08-06 10:54] johananl commented on #204
Some of the concerns are handled in https://github.com/instaclustr/cassandra-operator/pull/206.

[2019-08-07 12:29] smiklosovic commented on #220
I ll take this, LDAP first.

[2019-08-09 11:07] johananl opened #225 "Add PodSecurityPolicies to deployment examples"
It is a good practice to include PSPs with the deployment examples. This makes it easier for cluster administrators to use the operator on clusters with strict security enforcement, and there is no harm in applying PSPs also on clusters which don't require tight security.

There are two "levels" of PSPs we should consider for the operator:

1. A PSP for the operator itself.
1. A PSP for the pods c

[2019-08-09 11:22] johananl opened #226 "Handle missing slash in Docker registry variable"
Following https://github.com/instaclustr/cassandra-operator/pull/207#pullrequestreview-272781015, we may want to error when `REGISTRY` doesn't end with a `/` to avoid generating wrong Docker image names (e.g. `quay.io/usercassandra` instead of `quay.io/user/cassandra`).

[2019-08-09 13:34] johananl opened #227 "Update operator-sdk to v0.10.0"
operator-sdk has [v0.10.0](https://github.com/operator-framework/operator-sdk/releases/tag/v0.10.0) already. We are currently at v0.7.0. We should upgrade.

[2019-08-09 18:25] johananl opened #228 "Unused code in cassandradatacenter?"
It seems like the following code isn't used anywhere:

https://github.com/instaclustr/cassandra-operator/blob/84737bdf33c7b1b7d39732d626e47081550c84b1/pkg/controller/cassandradatacenter/ports.go#L12-L18

Can we get rid of this source file?

[2019-08-09 19:52] johananl commented on #227
Done in https://github.com/instaclustr/cassandra-operator/pull/229.

[2019-08-09 22:23] zegelin commented on #228
I think I was in the middle of trying to clean up and centralise port definitions between the container, the statefulset and the services. But it didn’t get finished.

[2019-08-12 17:55] smiklosovic opened #231 "Create /home/cassandra directory which cassandra user owns in cassandra container"
[code]

[2019-08-12 17:55] smiklosovic commented on #231
@johananl could you please look into this? Thanks a lot!

[2019-08-12 18:03] smiklosovic commented on #231
I think there should be added one flag in `install-cassandra` file for `useradd` command - `-m`, from `man useadd` I read for (current) `-r` flag:

    Note that useradd will not create a home directory for such a user,
    regardless of the default setting in /etc/login.defs (CREATE_HOME).
    You have to specify the -m options if you want a home directory for a
    system account to be created.

[2019-08-12 22:16] #227 closed

[2019-08-12 22:18] smiklosovic commented on #203
we updated to Go modules as part of this PR

https://github.com/instaclustr/cassandra-operator/pull/229

[2019-08-12 22:18] #203 closed

[2019-08-12 22:19] #226 closed

[2019-08-14 10:06] #231 closed

[2019-08-14 13:13] smiklosovic opened #235 "Consolidate version classes and introduce version endpoint for sidecar"
There are various version classes, consolidate them, remove what is not necessary and so on. Introduce simple endpoint version on Sidecar which will return both sidecar  version and Cassandra version.

[2019-08-14 13:13] smiklosovic commented on #235
Implemented here https://github.com/instaclustr/cassandra-operator/pull/234

[2019-08-14 13:14] #235 closed

[2019-08-14 13:49] johananl opened #236 "Write documentation for the Go version of the operator"
It looks like we don't have documentation for the Go version of the operator. At the very least, I think we should have the following:

- A **simple** quickstart guide with a few one-liners which a user can copy and paste as-is into a shell to get a working operator which successfully creates Cassandra clusters. This guide should **just work**, and should prefer simplicity and stability over compl

[2019-08-14 15:30] johananl opened #237 "Don't require IPC_LOCK and SYS_RESOURCE capabilities by default"
We should consider removing the extra capabilities which are currently added to the Cassandra containers by the operator:

https://github.com/instaclustr/cassandra-operator/blob/561616649cd86cf8e59e25f03baa55000892fc25/pkg/controller/cassandradatacenter/statefulset.go#L119-L126

Following https://github.com/instaclustr/cassandra-operator/pull/219#discussion_r310695441 it is likely that we don't ac

[2019-08-14 15:46] smiklosovic commented on #235
and here https://github.com/instaclustr/cassandra-operator/pull/238

[2019-08-14 16:54] johananl opened #240 "Make deploy directory work as-is"
Ideally we should be able to deploy the operator to a cluster using something like the following:

[code]

At the moment we have things which make the above not work:

- `operator.yaml` has `image: REPLACE_IMAGE` instead of an actual image name. This should either be set to the `:latest` official image, *or* pinned to a specific version and updated as part of releasing a new operator version.
- `d

[2019-08-14 19:06] benbromhead opened #241 "Certificate support"
I cannot figure out how to make a private team discussion topic visible or share it. So I'm going to move the certificate management discussion to a repo issue.

From @alourie:

[2019-08-14 19:07] benbromhead commented on #241
From @smiklosovic:

[2019-08-14 19:08] benbromhead commented on #241
Taking a step back here, I don't think managing a full PKI is something we want to do. I also know that customers won't want to have to pass a root CAs private key to our operator (it's generally something that lives in a HSM).

Cassandra requires two things to run TLS between nodes and clients. One is a public certificate it can build a chain of trust from, that lives in the truststore. The secon

[2019-08-15 05:49] alourie commented on #241
Okay, this sounds good to me. So if we go the path of sending a request for a cert from k8....how are we going to do it from within the pod (the init container)? Does the pod have access to k8 api?

[2019-08-16 11:05] smiklosovic commented on #240
I was think about this too and what I am missing now is some way to apply all files at once in the right order. If you imagine somebody has pristine clear k8s cluster and he / she wants to apply it all, now one has to apply that file by file (files in deploy dir) and deploy operator at the end of that. (I mean accounts, roles, role binding, psp ...).

Maybe some shell script applying this all at o

[2019-08-16 11:10] smiklosovic commented on #237
Seems as a good idea to me. What is the progress on 208?

[2019-08-16 11:13] smiklosovic commented on #225
FYI I have already merged PSP into superduper (for operator). If I get that right, now PSP for Cassandra (pods created by operator) should follow.

[2019-08-16 11:15] smiklosovic commented on #236
Very good initiative. I agree wit all points. I would leave this for a while after backup / restores are finished with certificates thingy and after that we do big overhaul in documentation.

[2019-08-16 12:26] johananl commented on #241
I'm still learning this proposal and would like to look at it a bit more in-depth before coming up with concrete suggestions, however I'd like to provide some initial feedback in the meantime:

I'm getting the impression the main question here is the amount of *responsibility* we want the operator to have. We should keep in mind that the operator's main responsibility is **managing Cassandra clust

[2019-08-16 14:04] johananl commented on #225
Great.

Correct. I'm currently contemplating where to commit the "resource PSPs" and how to name them. They are not directly related to the manifests [here](https://github.com/instaclustr/cassandra-operator/tree/superdupertopsecretrewrite/deploy), and in addition I don't want to create confusion by having two similar-looking PSPs.

[2019-08-16 14:09] johananl commented on #237
@smiklosovic looks like we are [waiting](https://github.com/instaclustr/cassandra-operator/issues/208#issuecomment-518497328) for a response from @zegelin and @benbromhead.

I can take the initiative there and propose a solution for #208 following my [comment](https://github.com/instaclustr/cassandra-operator/issues/208#issuecomment-515934889) in a new PR, but I thought @alourie was on it so didn'

[2019-08-16 14:30] johananl commented on #240
Actually the order of applying k8s manifests shouldn't matter normally. K8s defines resources declaratively and *eventually* converges everything to the desired state. Even if, for example, the operator pod is created before the CRDs exist in the API server, the operator should simply crashloop until the CRDs appear, which should be fine.

Additionally, some operators apply CRDs themselves to the

[2019-08-16 19:12] smiklosovic commented on #225
in the meanwhile putting them under `deploy` would do it, we could just differentiate them by filename

[2019-08-16 19:16] smiklosovic commented on #240
yes, please. I am wondering if they support this. We would still provide crds as files though.

That that approach at the end of your post would be ok too.

[2019-08-19 05:42] alourie commented on #237
@johananl @benbromhead @zegelin yes, I am basically waiting on the comment in #208. I can do this either stand alone or as a part of #218.

[2019-08-19 05:45] alourie commented on #241
@benbromhead @johananl I agree. The operator doesn't have to do *everything*, but in this case we need to take care the security, mostly because we can, but also because asking the user to do so would be too cumbersome and complicated.

That being said, we have 2 options:

1. We generate all the required chain on the node (C* container or init container).
2. We generate all the required chain with

[2019-08-19 13:16] smiklosovic opened #242 "migrate to resty v2"
There is resty v2 already, released like three weeks ago.

It would be nice to transition to not stay behind.

https://github.com/go-resty/resty/releases/tag/v2.0.0

[2019-08-19 13:17] smiklosovic commented on #242
@johananl would be nice to start to work on this one

[2019-08-19 19:09] benbromhead commented on #241
@johananl - Cassandra supports TLS encryption on two traffic paths:
- client to node
- node to node

Cassandra will accept a connection (client or node) if it can build a chain of trust back to a cert that it trusts. This is defined by two or more files (a truststore and a keystore) and some configuration.

To support this workflow we need to distribute a public root cert that all nodes trust, and

[2019-08-20 04:55] alourie commented on #241
@benbromhead sure thing, I'll start working on that one.

[2019-08-21 17:45] smiklosovic opened #244 "Should we validate user's specs?"
It came to my mind when applying backup crds. We might want to validate specs and if fields which are necessary for backups to succeed are indeed set before proceeding. I was thinking about using this (1)

@johananl how is this solved in practice?

@zegelin @alourie any strong opinions here?

(1) https://github.com/asaskevich/govalidator

[2019-08-22 01:13] alourie commented on #244
Well, if the **required** fields are not set, `kube apply` will error out when trying to load it into k8. So that's not an issue.

The question is whether we should validate the fields that were supplied for their correctness. I have no strong opinion here, maybe we could send them to sidecar as is in the request? The provided values are going to be marshalled into strings (or whatever types we de

[2019-08-22 07:47] smiklosovic commented on #244
Yes you are right, we just omit "omitempty" and it will force that field to be there so it has to be set as such.

On the other hand, when e.g. for backups, `storageLocation` follows a predefined pattern, like "s3://myBucket", it is questionable if we leave this on sidecar to error out or we do these checks in operator ...

I think it will be better to leave it on sidecar though and it will error

[2019-08-22 08:31] alourie commented on #213
closed by merging #218

[2019-08-22 08:31] #213 closed

[2019-08-22 08:34] alourie commented on #116
`privilegedSuppored` functionality is restored by #218

[2019-08-22 08:34] #116 closed

[2019-08-22 08:35] alourie commented on #78
Implemented with #192

[2019-08-22 08:35] #78 closed

[2019-08-22 08:38] alourie commented on #244
Yes, I agree. I don't think that operator should check these.

[2019-08-22 08:47] #244 closed

[2019-08-22 10:10] johananl commented on #204
Closed in https://github.com/instaclustr/cassandra-operator/commit/6e04fab448b27decd3f206d947279efe0c27e19a.

[2019-08-22 10:10] #204 closed

[2019-08-22 10:13] johananl commented on #204
@smiklosovic do you think we should create separate issues for any of the following?

- Simplify Makefile hierarchy.
- Run build process inside container to simplify build dependencies.

[2019-08-22 11:11] johananl commented on #244
This is an interesting question. Here is some info which can be useful. Apologize in advance if I'm telling you guys things you already know.

The very first line of defense is the k8s API itself: it validates CR fields according to the OpenAPI validation spec and ensures that all required fields are set and that field data types are OK.

However, when we want to validate more complex things, the

[2019-08-22 11:16] smiklosovic commented on #244
@johananl thanks for the information! Interesting indeed. I would leave it as it is for now but definitely food for thought.

[2019-08-22 11:20] johananl commented on #244
Makes sense. Should I open an issue for tracking this?

[2019-08-22 11:21] smiklosovic commented on #244
No. Just let it be really.

[2019-08-22 12:51] johananl commented on #241
[This](https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/) may help.

"Somewhere" could be the [k8s API](https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/#create-a-certificate-signing-request-object-to-send-to-the-kubernetes-api).

An init container in each Cassandra pod could, for example, create a `CertificateSigningRequest` object.

"Somehow" could be a "signer" imple

[2019-08-22 14:49] johananl opened #247 "Apply CRDs automatically on operator startup"
Following [this](https://github.com/instaclustr/cassandra-operator/issues/240#issuecomment-522029484) discussion, we would like to look into applying CRDs automatically on operator startup. This could make the UX nicer and less error-prone and simplify the deployment process.

We may be able to get inspiration from how the Prometheus operator [does](https://github.com/coreos/prometheus-operator/bl

[2019-08-22 14:49] johananl commented on #240
Tracked in https://github.com/instaclustr/cassandra-operator/issues/247.

[2019-08-22 19:01] zegelin commented on #208
Is this finished?

[2019-08-22 19:14] #228 closed

[2019-08-23 16:59] johananl commented on #208
No, we are still creating C* pods with these capabilities:

https://github.com/instaclustr/cassandra-operator/blob/c7a7e0cef4664caaf84d3db07437cd22fd7ac807/pkg/controller/cassandradatacenter/statefulset.go#L136-L143

I can create a PR to disable these but I am not sure which C* features to tune along with this change.

[2019-08-27 00:05] smiklosovic commented on #242
https://github.com/instaclustr/cassandra-operator/pull/249

[2019-08-27 09:23] #242 closed

[2019-08-27 10:08] johananl commented on #242
@smiklosovic sorry, I didn't get to it as we were focused on other things in the past week.

[2019-08-27 11:20] smiklosovic commented on #208
@johananl

Based on the commend of @zegelin

and @benbromhead

Hence, we should set it to false and configure cassandra.yaml to disable memory-mapped files.

To my knowledge there is only one such flag: `disk_access_mode`. If not set to "mmap" (which would enable memory-mapped access), (1) it is set to "auto" by default, so we should be covered here.

If we do set it up to true via some CRD field

[2019-08-27 11:32] johananl commented on #208
@smiklosovic great, so I guess I can make the required changes in the operator, tighten up the PSPs, update the relevant C* config and open a PR. Then you folks can verify performance looks OK.

How does that sound?

[2019-08-27 11:36] smiklosovic commented on #208
Sounds like a plan!

[2019-08-27 11:53] johananl opened #250 "Make timestamps in operator logs human-readable"
At the moment the operator produces log messages in the following format:

[code]

It might be nicer to have human-readable timestamps.

[2019-08-27 12:00] johananl opened #251 "Make rack-aware deployment optional"
At the moment, the `Racks` field in `CassandraDataCenterSpec` is required:

https://github.com/instaclustr/cassandra-operator/blob/b9f785cb7612e108fc4b350feeae7733e0712fe6/pkg/apis/cassandraoperator/v1alpha1/cassandradatacenter_types.go#L17

While definitely useful for production deployments, new users experimenting with the operator may not want/need to worry about pod placement.

I suggest we co

[2019-08-27 12:16] smiklosovic commented on #251
I am also of an opinion that rack-aware deployment should more optional. It requires people to label nodes to assign pods to and so on which adds additional burden to people who just want to quickly evaluate things.

[2019-08-27 12:19] smiklosovic opened #252 "Update Cassandra images to 3.11.4 / possible investigation for 4.x"
We are on 3.11.3 and Cassandra's Dockerfile is mentioning even 3.11.2.

We should consolidate this and bump it everywhere to 3.11.4.

This would also mean we need to be sure all configuration options in cassandra.yaml and similar scripts (e.g. JVM args) are all good.

In boarder sense, it would be desirable to figure out how to support various Cassandra versions with one operator. It would be an i

[2019-08-27 15:28] johananl commented on #208
@smiklosovic looks like we aren't setting `disk_access_mode` anywhere, unless I am missing something.

[2019-08-27 16:37] smiklosovic commented on #208
no we apparently dont but we should (based on whether we use these capabilities or not), that is my understanding of that

[2019-08-27 16:41] zegelin commented on #208
The default is ‘auto’. It’s either in the stock yaml or in the code — can’t
remember which.

As Stefan mentioned, if mmap sysctl tuning is enabled we should generate a
yaml override fragment that explicitly sets disk access mode to ‘mmap’.

On Tue, Aug 27, 2019 at 9:37 AM, Štefan Miklošovič <notifications@github.com>
wrote:

[2019-08-28 11:32] alourie commented on #251
@johananl @smiklosovic I can make that work. Considering how things work currently, the best solution would be to consider an imaginary 1 rack (automatically created/populated) and place all of the nodes there. Would that work for you?

[2019-08-28 12:12] smiklosovic commented on #251
yeah, like "rack1" or similar ...

[2019-08-28 13:36] smiklosovic commented on #251
https://github.com/instaclustr/cassandra-operator/commit/e4e34642deb2c2d82c55304ebe79e737bb85e81f

[2019-08-28 13:36] #251 closed

[2019-08-28 13:48] #181 closed

[2019-08-28 13:49] smiklosovic commented on #214
taken care of here https://github.com/instaclustr/cassandra-operator/pull/253

[2019-08-28 13:49] #214 closed

[2019-08-28 14:02] #86 closed

[2019-08-28 14:42] johananl commented on #251
SGTM @alourie.

[2019-08-28 19:06] DestyNova commented on #237
Hello, is there a workaround to avoid this problem? As it stands, I can't deploy Cassandra in one of our test clusters:

[code]

[2019-08-28 19:20] johananl commented on #237
Hello @DestyNova. Could you provide some information regarding your setup?

- The version of the operator you are running.
- Manifest used to create the Cassandra instance.

Relevant work is being done in https://github.com/instaclustr/cassandra-operator/issues/208.

As a workaround in the meantime, you may be able to tweak the relevant pod security policy in your cluster to allow the following:

[2019-08-28 19:42] DestyNova commented on #237
Thanks @johananl! I don't have access now, but I'll try that tomorrow :+1:

[2019-08-29 08:03] smiklosovic commented on #179
restores were finished here

https://github.com/instaclustr/cassandra-operator/pull/254

[2019-08-29 08:03] #179 closed

[2019-08-29 14:21] smiklosovic commented on #252
https://github.com/instaclustr/cassandra-operator/pull/256

[2019-08-29 14:29] #252 closed

[2019-08-29 17:33] smiklosovic opened #257 "Make sidecar log less / do not log debug messages"

[2019-08-29 17:35] smiklosovic commented on #225
@johananl what is the progress here? lets finish this stuff just after other things on the table ...

[2019-08-29 18:35] benbromhead commented on #225
PSP added for helm chart in #258

[2019-08-29 18:42] benbromhead commented on #240
I think for this we should maybe focus on keeping the helm charts up to date, and on check-in / build or whatever we simply run a helm template on the two charts and output the yaml to a single file in deploy.

The helm charts are all written to be fairly client side and I think that helm3 will head down that path as well.

That way we are not maintaining configs all over the place

[2019-08-29 19:54] benbromhead commented on #236
see #259 for updates to existing docs - start of the process

[2019-08-29 20:27] DestyNova commented on #237
@johananl I'm not sure what the version is, but::
[code]

[2019-08-30 10:22] #257 closed

[2019-08-30 12:18] smiklosovic commented on #250
I was briefly looking into this and I am not sure we can tweak that easily.

We would have to do more or less this:

https://github.com/uber-go/zap/issues/485#issuecomment-359662417

bypassing how k8s is doing that in `sigs.k8s.io/controller-runtime/pkg/runtime/log` package in `func ZapLoggerTo(destWriter io.Writer, development bool) logr.Logger` function.

[2019-08-30 14:56] johananl opened #263 "Refactor construction of Cassandra YAML overrides ConfigMap"
The current implementation of

https://github.com/instaclustr/cassandra-operator/blob/1248f73f95e937010203f9eb74f7180641c550c3/pkg/controller/cassandradatacenter/configmap.go#L22

is in my opinion unnecessarily complex and could use some improvement. The way the function calls are structured makes it difficult to follow the code and doesn't allow easy testing.

Let's look at the following flow for

[2019-08-30 15:08] smiklosovic commented on #263
Hi @johananl , feel free to prepare a PR with your ideas fully implemented, we do not have any problem to merge improvements if they are objectively better. We are glad you are hacking around the code!

[2019-08-31 10:40] smiklosovic opened #264 "Configure Cassandra JVM to stop on OutOfMemoryError"
I see this in logs:

[code]

[2019-09-02 10:33] smiklosovic commented on #264
not relevant anymore / false negative

[2019-09-02 10:33] #264 closed

[2019-09-04 18:22] smiklosovic opened #267 "reformat code to comply with goimports"

[2019-09-04 19:04] smiklosovic commented on #267
https://github.com/instaclustr/cassandra-operator/pull/268

[2019-09-04 19:04] #267 closed

[2019-09-04 19:35] johananl commented on #237
Fixed in https://github.com/instaclustr/cassandra-operator/pull/269.

[2019-09-04 19:35] johananl commented on #208
Fixed in https://github.com/instaclustr/cassandra-operator/pull/269.

[2019-09-04 19:36] johananl commented on #225
Following https://github.com/instaclustr/cassandra-operator/pull/269, we may want to add two sets of PSPs for the C* pods: one for "normal mode" and another for "kernel tweaks mode".

[2019-09-05 00:31] alourie commented on #225
We might want to keep the PSP examples in the examples directory, this way all examples are placed in the same spot.

[2019-09-06 15:56] johananl opened #270 "Review required fields in CassandraDataCenterSpec"
https://github.com/instaclustr/cassandra-operator/blob/810511b1d25a96524c5cb3abe22160ed0f21908c/pkg/apis/cassandraoperator/v1alpha1/cassandradatacenter_types.go#L13-L31

With simplicity and ease of use in mind (especially for first-time users who want to evaluate the operator), it seems to me like at least some of the fields above should be optional with some sane default. Examples:

- `ImagePullP

[2019-09-06 16:46] #237 closed

[2019-09-06 16:47] #208 closed

[2019-09-06 17:01] smiklosovic commented on #270
`nodes` could be 3 if not set,
`imagePullPolicy` can be set to `IfNotPresent` when not set
`Resources` can be set with 1G of ram and similar cpu setting
`cassandra` image can be set to official gcr.io
`sidecarImage` same
`dataVolumeClaimSpec` can be like 1GB
`prometheusSupport` can be false

[2019-09-06 18:34] smiklosovic commented on #270
https://github.com/instaclustr/cassandra-operator/pull/271

[2019-09-06 19:20] smiklosovic opened #273 "I can not build operator locally by operator-sdk command"
@johananl any idea how to have resty v2 in `vendor`?

[code]

[2019-09-06 19:26] smiklosovic commented on #273
forget it, I just run `go mod vendor`

[2019-09-06 19:26] #273 closed

[2019-09-06 19:26] johananl commented on #270
Thanks. Left comments on the PR.

[2019-09-06 20:31] mmonemali opened #276 "Go Operator Status"
We wanted to check what is the status of the Go operator, is it planned to be the main operator or the java one will still be productioni-zed? We have been playing with the java operator for awhile and made some fixes/tweaks to work for us. We want and would be happy to contribute back to either Go or Java but we want to check with you guys what is the plan going forward?

[2019-09-06 20:48] smiklosovic commented on #225
https://github.com/instaclustr/cassandra-operator/pull/275

[2019-09-06 20:48] smiklosovic commented on #225
Closing, documentation will be added separately.

[2019-09-06 20:48] #225 closed

[2019-09-06 21:35] smiklosovic commented on #276
Hi @mmonemali ,

we are glad you find our Cassandra operator useful!

We will switch to Go version in a while. We are about to make that switch quite soon (matter of week(s), but not months). Once that switch happen, we are more than happy to incorporate your contributions so definitely stay tuned.

[2019-09-06 22:05] zegelin commented on #276
Hi @mmonemali. Just to expand on what @smiklosovic said: The Go operator (currently located in the `superdupertopsecretrewrite` branch) is where all current development work is occurring, and we will merge that branch into master in the very near future -- essentially discontinuing the Java version.

At this time, all development work on the Java version is frozen, unless a major bug is uncovered.

[2019-09-06 22:17] zegelin commented on #263
Part of the complexity stems from needing to update both the `ConfigMap` and `ConfigMapVolumeSource` and keep them in sync for every file we want to add to the config. `configMapVolumeAddTextFile(...)` handles this appropriately.

Hence your example would look more like this:

[code]

Which is basically inlining `configMapVolumeAddTextFile(...)` into the caller, which would get verbose quite quick

[2019-09-09 14:42] mmonemali commented on #276
Awesome! We are looking forward to that!

[2019-09-09 21:55] smiklosovic commented on #270
https://github.com/instaclustr/cassandra-operator/pull/271

[2019-09-09 21:55] #270 closed

[2019-09-11 11:28] johananl commented on #263
@zegelin I definitely understand the rationale behind encapsulating logic and reusing it to keep things DRY. My main point was that in my opinion it is currently tricky to follow the flow inside `createOrUpdateOperatorConfigMap()` and I was trying to suggest ways to simplify this part of the operator.

Regarding keeping the ConfigMap and ConfigMapVolumeSource in sync - it is possible to avoid havi

[2019-09-11 11:47] smiklosovic commented on #263
love the templates!

[2019-09-13 08:29] smiklosovic opened #282 "add icon to Helm chart"
There are `icon` fields missing in `Chart.yaml` for both charts and `helm lint` says this:

[code]

It would be nice to have that icon that place.

The thing is that we can not host _easily_ an SVG because of security reasons (@zegelin ping me if you want to know more) we will go with PNG for now.

Possible icons given to me are:

Cyan and Navy logo
https://www.instaclustr.com/wp-content/uploads/2

[2019-09-13 12:29] alourie commented on #263
@johananl there's a small problem we have for mounting the configVolume under cassandra.yaml.d and that is the ability of users to drop additional yaml fragments as part of C* configuration. We currently do this by allowing users to provide their own ConfigMapVolumeSource; having now 2 configMaps that need to end up in one place makes the things a bit more complicated. We solve it by mounting them

[2019-09-16 10:47] DestyNova commented on #240
One thing to consider here is that some clusters are set up without the ability to use helm. When I tested the operator, I manually unhelmed the deployment artifacts which is a bit awkward.

Perhaps we could keep the files as is, but provide a script that generates "clean" deployment manifests on demand?

[2019-09-16 11:58] smiklosovic commented on #240
@DestyNova We are thinking about bundling all bits into one yaml to apply so all would be in one file only. What do you think about this approach?

[2019-09-17 09:01] alourie commented on #106
The check for proper go formatting is added to CI via 2a37699.

[2019-09-17 09:01] #106 closed

[2019-09-17 12:34] alourie opened #287 "Push images to gcr before switching to golang version"

[2019-09-18 04:55] alourie commented on #240
We've rewritten the documentation to include specific instructions to install the operator in a helm and the non-helm way, also added `make helm` command to copy the required CRDs into the helm templates. It's all part of the go rework and should be becoming the mainline pretty soon. As such I'm going to close this ticket as further work will be done either as improvements to documentation or as p

[2019-09-18 04:55] #240 closed

[2019-09-18 04:57] alourie opened #289 "Decide on version schema"
Make a decision on the versioning schema before the go switch

[2019-09-18 17:37] johananl opened #291 "Make deployment guides self-contained"
At the moment we provide some general instructions in [op_guide.md](https://github.com/instaclustr/cassandra-operator/blob/superdupertopsecretrewrite/doc/op_guide.md), then [send](https://github.com/instaclustr/cassandra-operator/blame/superdupertopsecretrewrite/doc/op_guide.md#L44-L46) the user to a different guide to complete some provider-specific actions. In my opinion deployment examples shou

[2019-09-18 17:44] johananl commented on #291
Adding to the above, if we do have provider-specific guides, having an AWS guide isn't really optional nowadays...

I wonder if we should even have separate guides to begin with. AFAICT the things we mention in the provider-specific guides at the moment are largely generic:

- Using `fsGroup: 999` can most likely be a default on all providers (needs checking).
- Configuring storage classes and PVs

[2019-09-19 01:01] alourie commented on #291
@johananl few pointers on this matter. Basically, I started doing separate docs for all the providers, but then we mostly do the same thing for all providers when launching the operator and the clusters, so I used the redirects to not copy it multiple times. Additionally, having the same copy in many docs have this tendency to get out of sync, so I'm not sure it's a good idea.

But more than anyth

[2019-09-19 12:27] johananl commented on #291
Yes, if the steps are largely the same then we should consider having one guide. As I suggested:

Here is an example of what I meant:

---

## Installation

To install the operator, do this and that.

---

In case we do end up keeping separate guides, I'd argue that having an easy to follow, self-contained guide for each provider outweighs the effort of handling the duplication in this case. Furth

[2019-09-20 00:27] smiklosovic commented on #289
semver starting with 1.0.0, patches / fixes 1.0.x, features 1.x.0, breaking changes x.0.0.

[2019-09-20 00:33] smiklosovic commented on #287
@benbromhead is this something you have to do? I am not sure how it is pushed there.

[2019-09-20 07:22] alourie commented on #289
:+1:

We just release golang version as v1.0.0; and keep going from there.

[2019-09-20 07:22] #289 closed

[2019-09-20 07:24] alourie commented on #287
Actually, I'm somewhat confident that with #288 the merge to master with tag v1.0.0 will build and push the images automatically. So if @benbromhead is keen, we don't really need to do anything....pending the check when we do merge/tag.

[2019-09-23 10:46] DestyNova opened #295 "cluster-crd kind typo: CassandraCuster"
While testing the operator in one of our clusters I noticed the CRD kind is "CassandraCuster". It's defined in cluster-crd.yaml.

[2019-09-23 13:55] smiklosovic commented on #295
Thanks! Good catch.

[2019-09-23 14:02] smiklosovic commented on #295
Can you remind me where you found that? I am grepping our Go branch and I can not find anything.

[2019-09-23 15:15] johananl opened #296 "First Cassandra pod sometimes restarts twice during bootstrap"
Looks like the first Cassandra pod in a cluster always restarts twice during bootstrap. Inspection of the logs shows the following:

[code]

This is most likely caused by the fact that Cassandra nodes try to form a cluster using the `cassandra-test-dc-cassandra-seeds` service, which doesn't have any active endpoints before the first node had joined the cluster.

While this doesn't cause a real pro

[2019-09-23 15:21] johananl commented on #296
Looks like this only occurs on the **first** time a Cassandra cluster is created on a given k8s cluster. When deleting the Cassandra cluster and re-creating it the pod doesn't restart anymore.

[2019-09-23 17:04] johananl opened #297 "Operator is unable to create a ServiceMonitor for itself"
Currently we are getting the following when the operator starts up:

[code]

As a result, the operator isn't monitored by Prometheus.

[2019-09-23 23:39] DestyNova commented on #295
Of course -- I wrote the issue on my phone, home now though. It's in [java/operator/src/main/resources/com/instaclustr/cluster-crd.yaml](https://github.com/instaclustr/cassandra-operator/blob/90e48634c130aa9dcc5e70ed7e51f1cdd344e7f3/java/operator/src/main/resources/com/instaclustr/cluster-crd.yaml). Presumably this will be gone anyway when the Go branch merges then.

[2019-09-24 05:23] smiklosovic commented on #295
yes, that one will go away.

[2019-09-26 01:25] alourie commented on #291
Closed via #293 merge. This includes consolidation of all the operation guides into one single document and providing a requirements session with notes for providers that require additional preliminary steps.

[2019-09-26 01:25] #291 closed

[2019-09-26 01:28] alourie opened #299 "Add arbitrary label on operator's resources"
Currently, we set Prometheus-related labels specifically on a service we create for Prometheus. Potentially it might be useful to be able to place any arbitrary labels on any service, stateful set or pod we create.

[2019-09-26 10:57] alourie commented on #180
Closed via #294 as https://github.com/instaclustr/cassandra-operator/commit/78af1dee5ffe556e2b31dafe8c3251cb3385c15a

[2019-09-26 10:57] #180 closed

[2019-09-26 15:07] smiklosovic commented on #297
https://github.com/operator-framework/operator-sdk/issues/1702

[2019-09-26 15:07] #295 closed

[2019-09-26 15:08] smiklosovic commented on #276
Hi @mmonemali

we just release Go operator, it is already in master hence I am closing this one.

[2019-09-26 15:08] #276 closed

[2019-09-26 15:09] #236 closed

[2019-09-27 17:42] mmonemali opened #302 "Running e2e tests locally"
Is there a way to run e2e tests locally now?  Maybe use virtualbox/libvirt for that?
If not we can use this issue to track that, and add some documentations how to actually run the tests.

[2019-09-28 14:10] #287 closed

[2019-09-28 14:30] smiklosovic commented on #302
Hi @mmonemali

please go to the root of this repository and do

`operator-sdk test local ./test/e2e --up-local --namespace default --go-test-flags="-timeout 20m" --debug --verbose`

You might set bigger timeout as it expects to run tests in 10 minutes by default (go test does this by default).

I ll add this information into the documentation too.

Please let me know if you hit any issues with tha

[2019-09-28 14:34] smiklosovic opened #303 "Make Go e2e tests run when merge to master happen"

[2019-09-30 13:51] mmonemali commented on #302
Thanks @smiklosovic!

[2019-10-01 11:44] linki opened #304 "StatefulSet PVC are not zone aware"
I tried out the zone-aware configuration on AWS and it failed because volumes were created in the wrong zone.

Kubernetes version: `v1.14.6`
cassandra-operator: `v2.0.0`

The non-zone aware configuration worked fine. It put 2 out of 3 Pods in the same zone but it worked.

The zone-aware setup looks more robust so I tried the following config:
[code]

The node in zone `1a` spawned fine but nodes in

[2019-10-01 20:36] benbromhead commented on #304
@smiklosovic and @alourie I wonder if we are giving enough flexibility in volume creation here as hinted at by @linki ? iirc we just have a single storage class definition for the entire DC

[2019-10-02 08:12] alourie commented on #304
@benbromhead @linki

TL;DR: set up a storage class to use for the Cassandra pods (for example, `topology-aware-standard`), use `WaitForFirstCustomer` volumeBindingMode and then use this storage class as a parameter to the CRD:

[code]
[code]

Longer explanation: The dynamic volume provisioning can be solved by using `WaitForFirstCustomer` [volumeBindingMode](https://kubernetes.io/docs/concepts/sto

[2019-10-02 08:24] linki commented on #304
@benbromhead @alourie Thanks for the quick responses. I'll try it out and come back to you.

[2019-10-02 08:57] alourie commented on #304
@linki Thanks! If it works as expected, then I hope you find the docs update in #305 helpful for the future reference.

[2019-10-02 15:19] linki commented on #304
@alourie Using `volumeBindingMode: WaitForFirstConsumer` fixes this issue and StatefulSet's pods are correctly scheduled with their volumes. I wasn't aware of that setting.

However, `WaitForFirstConsumer` doesn't work well with [cluster-autoscaling](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler) as new Cassandra Pods don't correctly trigger scale-up in our setup.

But th

[2019-10-02 15:19] #304 closed

[2019-10-08 06:38] alourie commented on #57
We're already tagging it with Cassandra version, but I've also added version tags in #306. So we now will have `:latest`, `:<cassandra-version>`, `:<operator-version>` and `:<cassandra-version>-<operator version>`, so that we are always able to pick a specific version of the container image.

[2019-10-09 18:05] mmonemali opened #307 "Access Cassandra cluster from outside Kubernetes"
Now to use the nodes-service to connect to Cassandra cluster you have to have your application running on the same Kube cluster where the operator is running. To workaround that we create a NodePort service for each Cassandra cluster and use that for external connectivity, this is working fine for us for now but for the long run we don't want to use node port, especially when it comes to cross dat

[2019-11-18 14:59] smiklosovic commented on #307
Hey @mmonemali , why not to "expose" the IP of a Cassandra node externally / use "public ip" for that?

You can use also LoadBalancer service in front and route it a node.

Exposing would be done like:

[code]

So you can do just this:

[code]

[2019-11-18 16:09] smiklosovic commented on #307
@mmonemali maybe even more clean way is to do it like this:

[code]

If you are on Azure, after a while you see this:

[code]

So you just access it by `cqlsh 52.188.223.110`. Whole cluster is "hidden"  as 1 IP.

Maybe you want to expose it one by one, in that case, if you connect to that cluster to e.g. from Java, you would specify contact points, per node. In this scenario, you would have basica

[2019-11-19 15:24] #165 closed

[2020-01-13 13:32] linki opened #319 "Missing resource requests and limits for sidecar container"
The `cassandra-sidecar` container misses definitions for resource requests and limits, [see here](https://github.com/instaclustr/cassandra-operator/blob/v2.2.0/pkg/controller/cassandradatacenter/statefulset.go#L248-L254).

This currently prevents us from using the operator on our clusters, since we enforce the presence of them.

We could add some sane defaults in the code section mentioned above a

[2020-01-13 13:55] linki commented on #299
We's re also interested in this feature.

In our clusters we enforce all StatefulSets (and others) to have an `application` label. Having some way to inject custom labels next to the ones the operator uses for its purposes would be very helpful.

[2020-01-13 14:36] smiklosovic commented on #319
Hey @linki thanks for reaching out.

What do you think about this?

https://github.com/instaclustr/cassandra-operator/pull/320

Would it make the job? You can just specify limits similarly as for Cassandra container.

[2020-01-13 14:47] smiklosovic commented on #299
Hi @linki , thanks for reaching us.

I do not have any problems with this in general but there is a lot of objects we could put labels on so it would be helpful if we together identify what you want to have labels on.

I see it as:

1) all services
2) stateful set
3) pods
4) containers

I do not think labeling init containers make sense, can we leave them out?

From the implementation POV, there i

[2020-01-13 22:00] smiklosovic opened #322 "Update operator to operator-sdk 0.12.0"
Since we are on 0.10.0, first we need to bump to 0.11.0 and afterwards to 0.12.0 from there.

[2020-01-13 22:04] smiklosovic commented on #247
Actually, this is not a good idea. According to this article and guideline 1, and 2, it is better to have it separate and Helm will take care of that.

https://medium.com/@cloudark/kubernetes-operators-and-helm-it-takes-two-to-tango-3ff6dcf65619

[2020-01-13 22:04] #247 closed

[2020-01-13 22:18] smiklosovic opened #323 "Push Helm binary packages to gcr.io instead of having them in repository (and/or ignored)"
https://helm.sh/docs/topics/registries/

[2020-01-13 22:19] smiklosovic commented on #319
Implemented in this PR.

https://github.com/instaclustr/cassandra-operator/pull/321

[2020-01-13 22:20] #319 closed

[2020-01-13 22:20] smiklosovic commented on #299
Implemented in this PR.

https://github.com/instaclustr/cassandra-operator/pull/321

[2020-01-13 22:20] #299 closed

[2020-01-13 22:40] smiklosovic opened #324 "Get rid of warning in build on gcloud docker"
[code]

[2020-01-15 09:39] linki commented on #319
That's exactly what we needed :smiley: Thanks for the quick response!

[2020-01-15 09:46] linki commented on #299
@smiklosovic Thank you! This is exactly what we needed.

Especially being able to set labels on the StatefulSet as well as on the PodTemplateSpec helps us a lot.

[2020-01-15 10:09] smiklosovic commented on #299
You are welcome @linki !

[2020-01-17 11:28] vishnugs opened #327 "Which Cassandra Chart is compatable with this operator"
Hi

Can you let me know if the cassandra chart following is compatabile with this operator ?

Also let me know how it works ?

Regards
Vishnu

[2020-01-17 11:32] vishnugs commented on #327
https://github.com/helm/charts/tree/master/incubator/cassandra

[2020-01-18 12:00] smiklosovic commented on #327
Hi @vishnugs, no, the chart you sent is not compatible with this operator. There is the documentation for this operator in this repository you are welcome to go over.

[2020-01-18 14:41] vishnugs commented on #327
yes i have gone through it. there is a sample yaml file to create cassandra cluster. Isnt there a helm chart for creating the cassandra cluster as well ?

[2020-01-18 17:02] smiklosovic commented on #327
Sure, there is, in `helm` directory, here https://github.com/instaclustr/cassandra-operator/tree/master/helm

[2020-01-19 01:25] vishnugs commented on #327
Unable to install the above operator from the link

{"level":"info","ts":1579396947.9827983,"logger":"cmd","msg":"Version: v2.3.0"}
{"level":"info","ts":1579396947.982827,"logger":"cmd","msg":"Go Version: go1.13.5"}
{"level":"info","ts":1579396947.9828343,"logger":"cmd","msg":"Go OS/Arch: linux/amd64"}
{"level":"info","ts":1579396947.9828405,"logger":"cmd","msg":"Version of operator-sdk: v0.10.0"}

[2020-01-19 21:45] smiklosovic commented on #327
The cause is this

`{"level":"error","ts":1579396948.1639,"logger":"kubebuilder.source","msg":"if kind is a CRD, it should be installed before calling Start","kind":"CassandraBackup.cassandraoperator.instaclustr.com","error":"no matches for kind "CassandraBackup" in version`

You have to install CRDs first. If you are applying Helm chart, they are part of the package.

Otherwise you have to go to

[2020-01-22 04:33] vishnugs commented on #327
$ kubectl create -f deploy/crds/
customresourcedefinition.apiextensions.k8s.io/cassandrabackups.cassandraoperator.instaclustr.com created
customresourcedefinition.apiextensions.k8s.io/cassandraclusters.cassandraoperator.instaclustr.com created
customresourcedefinition.apiextensions.k8s.io/cassandradatacenters.cassandraoperator.instaclustr.com created
unable to recognize "crds/cassandraoperator_v1a

[2020-01-22 04:39] vishnugs commented on #327
how does it manages backup and restore ? also backup location configuration ?

[2020-01-25 09:04] smiklosovic opened #332 "Update operator to operator-sdk 0.11.0"

[2020-01-25 09:04] smiklosovic commented on #332
done and released as version v3.0.0

[2020-01-25 09:04] #332 closed

[2020-01-25 09:05] #297 closed

[2020-01-25 09:07] smiklosovic commented on #189
I think this is already targeted in Helm 3.0 where there is a special directory called `crds` so Helm will install that before anything else happens.

[2020-01-25 09:07] #189 closed

[2020-01-25 09:09] smiklosovic commented on #93
Operator was rewritten into Go so this issue is not relevant anymore.

[2020-01-25 09:09] #93 closed

[2020-01-25 09:09] #154 closed

[2020-01-25 09:19] smiklosovic commented on #4
Auth can be done like specified here (1), ootb, you dont get any auth but you can switch to whatever auth you want.

(1) https://github.com/instaclustr/cassandra-operator/blob/master/doc/auth.md#auth

[2020-01-25 09:19] #4 closed

[2020-01-25 09:32] smiklosovic commented on #2
@bbromhead @zegelin

This might be solved quite easilly but I have to admit it looks little bit tricky.

The rule of thumb is to have a seed per rack. We know what rack a node is going to be in when we are provisioning it, in advance.

In a nutshell, the seed provider is resolving "all ips" from seed service and it returns seeds which are trully meant to be used.

Hence we need some kind of a mech

[2020-01-25 10:04] smiklosovic commented on #185
We need a Cassandra Reaper operator for this.

[2020-01-25 10:45] smiklosovic commented on #322
This version of operator sdk is pinned to 1.15.4 of Kubernetes (0.11.0 is pinned to 1.14.1)

[2020-01-25 14:42] smiklosovic commented on #2
I ve done it differently like this https://github.com/instaclustr/cassandra-operator/pull/333

We have not been specifying right ServiceName for stateful set so a pod was not even able to ping other pod by their hostname, only by IP.

SeedProvider was rewritten in a such way that it will consider seeds to be only the first nodes in every rack.

This means that as more racks we will be adding and m

[2020-01-27 05:47] vaibhavkhurana2018 opened #334 "How to run this operator on K8S 1.16?"
The operator is not working on k8s version 1.16 because StatefulSet has been promoted to `v1/apps`.

Pod Log:

[code]

Deprecation Notice: https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

Code that requires changes(IMO): https://github.com/instaclustr/cassandra-operator/blob/cab13f83a07e7fb2fa6cbd3dd5ce4d9cad23a289/pkg/controller/cassandradatacenter/statefulset.go

Changing the abo

[2020-01-27 06:14] bzpython commented on #334
I'm following the tutorial to install the operator and I just ran into this problem as well (using Kubernetes version 1.17.0). Looking forward to a fix :)

`{"level":"error","ts":1580104976.7968016,"logger":"controller-runtime.source","msg":"if kind is a CRD, it should be installed before calling Start","kind":"StatefulSet.apps","error":"no matches for kind \"StatefulSet\" in version \"apps/v1beta

[2020-01-27 09:37] smiklosovic commented on #334
Hi @vaibhavkhurana2018 , currently, this operator is "pinned down" to Kubernetes 1.14.1. It is built on operator-sdk 0.11.0. Operator SDK 0.11.0 is pinned down to 1.15.4.

I am currently running this operator on Kubernetes 1.17.1 and I do not have any problem with that.

How is it possible that I am about to run it with 1.17.1 which is newer version than your 1.16?

[2020-01-27 09:38] smiklosovic commented on #334
Hi @bzpython

the error you got means that you do not have CRDs installed.

If you are using helm, they are there ootb.

If you are doing it all manually, they are in this directory, you have to apply them: https://github.com/instaclustr/cassandra-operator/tree/master/deploy/crds

[2020-01-27 12:03] originalnoe-nazvanie opened #335 "How does custom configuration actually work?"
I tried to follow the instruction on
https://github.com/instaclustr/cassandra-operator/blob/master/doc/custom-configuration.md
to pass the test conf sample to Cassabdra cluster, but it seems that something go wrong.

1) on https://github.com/instaclustr/cassandra-operator/blob/master/doc/custom-configuration.md apiVersion is stable.instaclustr.com/v1,
but on
https://github.com/instaclustr/cassandr

[2020-01-27 13:29] smiklosovic commented on #335
hey @originalnoe-nazvanie , can you please show me the complete yaml you are applying?

The `concurrent-data` is name of a `ConfigMap` you need to have already present in your Kubernetes cluster and it has to have entry "100-concurrent-yaml", its content will be then mounted uner `/etc/cassandra/casandra.yaml.d/100-concurrent.yaml`.

I am not sure why "nothing is happening", if you have your opera

[2020-01-27 14:40] #2 closed

[2020-01-27 14:41] smiklosovic commented on #17
For now supported via config maps

https://github.com/instaclustr/cassandra-operator/blob/master/doc/auth.md#ssl

[2020-01-27 14:41] #17 closed

[2020-01-28 05:16] bzpython commented on #334
Hi @smiklosovic , thanks for your help :). I am still new to Kubernetes so I may stumble over obvious things here.

I am applying the YAMLs manually instead of using Helm, following the operator's guide here:
https://github.com/instaclustr/cassandra-operator/blob/master/doc/op_guide.md

I have tried applying both the "crds.yaml" originally (as suggested in the operator's guide), and got this error

[2020-01-28 05:21] bzpython commented on #334
This is the full set of errors I receive. At the bottom, after the error text about CRDs I posted above, there is a separate error which only mentions StatefulSets (no matches for kind \"StatefulSet\" in version \"apps/v1beta2\") :

`{"level":"error","ts":1580187961.9238508,"logger":"controller-runtime.source","msg":"if kind is a CRD, it should be installed before calling Start","kind":"StatefulSe

[2020-01-28 08:59] smiklosovic commented on #334
I am not sure what is happening, I am not getting these errors on 1.17.2

[2020-01-28 09:03] smiklosovic commented on #334
How do you actually run this operator? You just take the image from gcr?

Are you running the latest? gcr.io/cassandra-operator/cassandra-operator:v3.1.0

[2020-01-28 09:34] originalnoe-nazvanie commented on #335
Hi! Appreciate your help, thank you!
The configmap present in cluster and I already tried to kill the cassandra pod, but the problem appears even if
delete the cluster and create it again, no pods get started.
There is a hint with fsGroup: 999 on
https://github.com/instaclustr/cassandra-operator/blob/master/doc/providers/aks.md
Is it possible that it's Azure (AKS)-specific problem?

[code]
Full cl

[2020-01-28 09:42] smiklosovic commented on #335
Most probably, your cluster is waiting on something to happen so it can proceed.

What does `kubectl describe cassandradatacenters<tab> <tab>` gives you?

Try to gather as much logs from describe command as possible ...

[2020-01-28 09:54] smiklosovic commented on #334
@bzpython @vaibhavkhurana2018 could you give a try now? I have removed these old apis, just grab the `latest`

https://github.com/instaclustr/cassandra-operator/pull/336

[2020-01-28 10:09] smiklosovic commented on #335
@originalnoe-nazvanie
I think I know what your issue is, if you have a file called "custom-cassandra-config.yaml" with this content:

[code]

And you create a ConfigMap with this command:

[code]

Then you have it like this:

[code]

So you need to use that as key in CDC spec:

[code]

[2020-01-28 10:23] originalnoe-nazvanie commented on #335
1)I recreated a configmap with settings, provided by you

[code]
2) uncomment the section
[code]
3) changed a base image
[code]

but again, no success =(

[code]

[code]

[2020-01-28 10:31] smiklosovic commented on #335
Go with minimal Spec, you have too much specified, you do not need that. It most probably waits for all secrets and so on and you do not have them so it is blocked.

what does decsribe does on that cassandradatacenter resource?

Try e.g this and look into logs `kubectl describe statefulsets`

[code]

[2020-01-28 14:20] originalnoe-nazvanie commented on #335
The configuration with backup, azure storage_account and PVC works, the only problem is userConfigMapVolumeSource =(
1) applying manifest with
[code]
2) i manually delete statefulset and watched over pods for logs
[code]

so
[code]
was the problem
actual configs that works
[code]
[code]

Thank you for feedback, your operator looks cool!

[2020-01-28 14:20] #335 closed

[2020-01-29 12:13] #334 closed

[2020-02-04 09:39] jgoeres opened #338 "When setting "prometheusSupport: true" on a cluster without Prometheus installed, the operator (v2.3.0) segfaults"
Hi,

when enabling prometheus support by setting

    prometheusSupport: true

on a CassandraDataCenter and applying it on a cluster without Prometheus operator, the Cassandra operator segfaults:

    $ kubectl logs cassandra-operator-6b748dcc69-tmc29
    {"level":"info","ts":1580808639.3200963,"logger":"cmd","msg":"Version: v2.3.0"}
    {"level":"info","ts":1580808639.3201246,"logger":"cmd","msg"

[2020-02-04 12:36] smiklosovic commented on #338
hi @jgoeres, thank you, I ll take a look. I think I saw this already and I fixed it but I ll double check and let you know.

[2020-02-04 13:23] smiklosovic commented on #338
@jgoeres this should be fixed in v3.1.1, can you pull it and try it out? (all images should have tag v3.1.1, cassandra image was renamed and is "cassandra-3.11.5:v3.1.1", notice "3.11.5" is part of image name itself

[2020-02-05 07:34] jgoeres commented on #338
Hi,

thanks for looking into this. Not sure why I had been using such an ancient image... I think I was following along the "Getting started" guide (which IIRC referred to "latest") and then somehow confirmed that latest was 2.3.0.
Anyway, it still happens in 3.1.1:

    $ kubectl logs test-cassandra-operator-69bf56df6c-k8dn7
    {"level":"info","ts":1580887938.1688473,"logger":"cmd","msg":"Versio

[2020-02-05 07:42] smiklosovic commented on #338
@jgoeres
I think it boils down to the fact that you have not set labels on operator. It fails on the part of the code where labels are applied and I am not completely sure why as I hit this problem before and fixed it.

Please try to annotate your prometheus service like it is described here:

https://github.com/instaclustr/cassandra-operator/blob/master/doc/custom-configuration.md#custom-labels-f

[2020-02-05 07:49] smiklosovic commented on #338
@jgoeres you are right I fixed that. :) I ll release new images and I ll close this afterwards. Thanks.

[2020-02-05 08:20] smiklosovic commented on #338
https://github.com/instaclustr/cassandra-operator/pull/340

[2020-02-05 08:31] jgoeres commented on #338
Thank you. It is of course no big deal, once I figured out what caused the crash, I just disabled prometheus support (I saw the error message "Could not create ServiceMonitor", but at first didn't think it was related. ).
Why I had prometheus support enabled in the first place?
Well, I am working on a Helm chart for deploying a product that makes use of the cassandra operator, and since it only wa

[2020-02-05 08:46] smiklosovic commented on #338
I see, well, you can have _cluster scoped operator_, which means that operator is deployed in one namespaces but clusters are running in a different one, please follow these docs:

https://github.com/operator-framework/operator-sdk/blob/master/doc/operator-scope.md#cluster-scoped-operator-usage

[2020-02-05 09:31] smiklosovic commented on #338
@jgoeres grab the `latest` or `v3.2.0`.

[2020-02-05 09:31] #338 closed

[2020-02-05 09:41] smiklosovic commented on #327
@vishnugs backup / restore documentation is here: https://github.com/instaclustr/cassandra-operator/blob/master/doc/backup_restore.md

[2020-02-05 09:41] #327 closed

[2020-02-06 15:56] jgoeres opened #341 "Cassandra fails to start on EKS with "no permission to create directory /var/lib/cassandra/data""
Hi,

I have successfully tested v3.1.1 of the operator on my minikube environment. Now I tried to run it on EKS (1.14). Alas the pod goes into CrashLoopBackoff. The relevant log excerpts of the cassandra container:

    ERROR [main] ConcatenatedYamlConfigurationLoader.java:173 Unable to write cassandra configuration to /var/lib/cassandra-config.yaml
    java.nio.file.AccessDeniedException: /var/li

[2020-02-06 20:58] smiklosovic commented on #341
Hi @jgoeres ,

have you tried this? I know it is for Azure but I suspect this is the case of AWS as well, notice there is "fsGroup: 999" in `spec`. It means that, shortly, mounted volume will behave as if it is all on 999 so it will be writable.

Docker containers are meant to be run with `cassandra` user all the time, we are not stepping down / up to `root` anywhere and it was meant to be like li

[2020-02-07 06:12] jgoeres commented on #341
Hi,

thank you, with the fsGroup setting it is starting up fine now.
I will switch to the performance service account ( I noticed the different PodSecurityPolicies and service accounts and was wondering what difference it makes, but hadn't tried it), thanks.

Also thanks für pointing out the multi-zone problem. I actually ran into that issue when we worked on deploying another service (one develop

[2020-02-07 06:12] #341 closed

[2020-02-07 09:06] smiklosovic commented on #182
Depends whether the changes to be propagated requires the restart of a node or not.

If they do and we need to restart a cluster in a rolling fashion, the rolling restart would have to be coordinated from the operator itself. We might be receptive on the changes of ConfigMap in operator and if a change is detected (another problem how to know something has actually changed), we would restart in ro

[2020-02-07 17:19] jgoeres commented on #338
Works fine with 3.2.0, thank you!

[2020-02-10 16:14] smiklosovic opened #342 "support Cassandra 4.0"

[2020-02-10 16:23] #57 closed

[2020-02-11 21:06] #324 closed

[2020-02-12 20:30] smiklosovic commented on #322
We skipped directly to 0.13.0.

[2020-02-12 20:30] #322 closed

[2020-02-12 21:27] #302 closed

[2020-02-12 21:28] #221 closed

[2020-02-12 21:41] smiklosovic commented on #46
This should be possible out of the box by Kubernetes itself by patching a statefulset and deleting pod

https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#rolling-update
https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#rolling-out-a-canary

[2020-02-12 21:41] #46 closed

[2020-02-12 21:46] smiklosovic commented on #182
relates to #107 , e.g. for image changes, we just update and delete so it is restarted with new one.

On the other hand, these changes are done on statefulset itself, we are not patching our CRDs. If patching should be possible on our CRDs, we would have to detect this change on reconciliation and change / patch underlying statefulset accordingly.

I would focus only on use cases where changes to

[2020-02-14 20:38] smiklosovic opened #344 "restructure whole operator so it is api-version agnostic"
Ideally, we should have "core" of operator written in such way it is irrelevant what API we are using. Right now, the version of API is intrinsically tightly-coupled with the logic. The core of operator should work without any notion of API version so we can develop APIs independently from the core deployment logic.

[2020-02-21 10:52] smiklosovic opened #345 "fix nodetool in 4.x Cassandra"
[code]

[2020-02-21 12:41] smiklosovic opened #346 "implement SSL for JMX"

[2020-02-21 12:42] smiklosovic commented on #185
http://cassandra-reaper.io/docs/usage/sidecar_mode/

[2020-02-26 16:24] linki opened #349 "Deploy PodDisruptionBudgets for Cassandra nodes"
In order to limit the amount of [voluntary](https://kubernetes.io/docs/concepts/workloads/pods/disruptions/#voluntary-and-involuntary-disruptions) pod terminations, e.g. during Kubernetes [cluster updates](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-upgrades), we should deploy a [PodDisruptionBudget](https://kubernetes.io/docs/tasks/run-application/configure-pdb/) that limits

[2020-02-26 16:44] smiklosovic commented on #349
@linki interesting, that you for your idea, I will look into it tomorrow.

[2020-02-28 10:23] linki commented on #349
@smiklosovic I can also look into it :smiley: It's not urgent but I didn't want to forget about it.

We could default the PDB to allow one pod being down at most at any point in time. Do you see any use cases where it's useful to allow more disruptions?

[2020-02-28 10:31] smiklosovic commented on #349
@linki I think this is interesting mix of two concepts. Imagine you have a cluster of 5 nodes, RF is 5 and you have CL QUORUM. It means that you should be in theory fine with having two nodes down ... why just one?

[2020-03-09 17:46] linki commented on #349
Oh yes, that makes a lot of sense. I totally forgot than we can tolerate more than one node failure. In this case it's probably best to allow the user to override the value in case she knows better.

IIRC from the etcd docs: a minimum of 5 nodes were recommended because one might be down by intention (for updates) and one might fail exactly when the other is down (and unintentionally) which still

[2020-03-09 19:54] smiklosovic commented on #349
Its more complicated than that (your last question).

Lets say you have a 2-dc cluster, 5 nodes in each DC, together 10. In your application, you decide to have the replication factor 3 (per dc) and your application is writing with consistency level QUORUM. In that case, you expect majority of nodes across all DCs (among replicas) to write it fine, which is (3+3 / 2) + 1 = 4. So you can, in theory

[2020-03-10 14:34] smiklosovic commented on #296
The most probable reason this was happening was that in Sidecar, when that container starts, it was doing some JMX calls to Cassandra but Cassandra was not there yet, so that  container has failed to start (this call was done as part of that process initialisation). In the upcoming release, I have refactored the code in a such way that this is not called prematurely so container will not fail, hen

[2020-03-10 14:34] #296 closed

[2020-03-10 14:45] smiklosovic opened #351 "consolidete Sidecar and backup-restore into one JAR"
Because Sidecar is using backup-restore's API for taking a backup and Sidecar image bundles backup-restore jar as it is used upon restores, we are effectively depending on backup-restore jar twice which makes whole image unnecessarilly bloated.

Make sidecar image built in such a way that backup-restore is embedded into Sidecar application so one Sidecar JAR can be used both as a server applicatio

[2020-03-10 16:53] smiklosovic commented on #307
I have put this documentation into readme as part of this PR

https://github.com/instaclustr/cassandra-operator/pull/352

[2020-03-10 16:53] #307 closed

[2020-03-10 17:23] #351 closed

[2020-03-11 13:31] smiklosovic commented on #323
https://github.com/instaclustr/cassandra-operator/pull/353

[2020-03-11 13:54] smiklosovic opened #354 "investigate why there are build failures when building with Java 11"
Some Java libraries we are using are not compatible with Java 11 so we have to build it with Java 8 at the moment.

[2020-03-11 15:13] linki opened #355 "Updates to cassandraImage are ignored"
When updating the `cassandraImage` in a CDC spec it doesn't update the corresponding StatefulSets.

The operator correctly gets an event and starts reconciling the CDC but somewhere in the code it then doesn't manage to update the StatefulSet spec. There's no error in the logs.

Also tested with another field, such as flipping `optimizeKernelParams` which should also change the StatefulSet spec.

[2020-03-11 15:28] smiklosovic commented on #355
Interesting, I ll debug this one. Thanks for reaching out.

[2020-03-11 15:36] smiklosovic commented on #355
@linki , actually, what would you like to see as a result here? StatefulSet is changed and now what ... If you want to effectively run on a different image, it means that the container itself would have to be restarted.

Could you check that the image is changed in Statefulset after your changes? In other terms, do you see that you have your new image in Statefulset but there is not any action tak

[2020-03-11 17:50] DestyNova opened #356 "Possible infinite loop in SeedsResolver"
Hi! I've been investigating a problem (with the help of @linki) with the 3.11.6 Cassandra operator image. Some of the pods started okay, but a few of the Cassandra containers got stuck at:
[code]
The healthy pods continued from here with:
[code]
Because the stuck pods never reach this point, the Cassandra endpoint and JMX server are never started, which causes the `sidecar` container to fail repea

[2020-03-11 19:02] smiklosovic commented on #356
Hello @DestyNova ,

thanks for this issue, I was doing it in a hurry so I put there just while(true) which I really not ideal, I have to admit that.

On the other hand, why it is not resolvable in your case? I would be curious what is going on in your cluster that they are not properly resolved and code moves on.

These issues are very hard to debug but it would be very helpful it you log into tha

[2020-03-11 22:54] DestyNova commented on #356
Thank you @smiklosovic for some excellent debugging leads. I'll try to get it back into a broken state tomorrow and investigate further :+1:

[2020-03-12 08:57] #323 closed

[2020-03-12 12:48] linki commented on #355
It doesn't even update the StatefulSet itself so Kubernetes isn't doing anything. When the CDC changes the operator should propagate those down to the StatefulSets.

After thinking about it more it's probably not a good idea to blindly apply the new spec to the StatefulSet since some updates might break the clusters.

It's just that currently there's no way of updating the Cassandra version or oth

[2020-03-12 12:55] smiklosovic commented on #356
@DestyNova I think I got that, stay tuned.

[2020-03-12 12:57] smiklosovic commented on #355
Yeah, maybe I can just do something about that one.

The only time it "reacts" is if number of replicas do not match, based on what you entered into new spec (bigger or lower number), it will scale up or down, so there is already this "functionality" we just have to expand it to image name and trigger restart somehow.

[2020-03-12 20:20] smiklosovic commented on #356
https://github.com/instaclustr/cassandra-operator/pull/357

[2020-03-12 22:43] smiklosovic commented on #356
@DestyNova grab the latest stuff (tag v5.1.0), I rewrote that, comment here again if it does not work, I l will close this for now.

[2020-03-12 22:43] #356 closed

[2020-03-13 16:50] DestyNova commented on #356
Awesome, thanks @smiklosovic -- will try to test this and report back soon.

[2020-03-25 16:34] smiklosovic commented on #354
Libraries were fixed to run with Java 11.

[2020-03-25 16:34] #354 closed

[2020-03-25 16:35] smiklosovic commented on #345
This was fixed as part of https://github.com/instaclustr/cassandra-operator/pull/359

[2020-03-25 16:35] #345 closed

[2020-03-30 15:31] MJ11FS opened #361 "Allow multiple secrets under userSecretVolumeSource"
Currently if you want to use different set of certs and trust stores for internode and client connections you have to jam them under same secret under:
[code]

If those certs and secrets are created by an automated process then using single secret becomes tricky. Having single secret for different sets of certs etc also defies such approach.

I recommend that `userSecretVolumeSource` is extended i

[2020-03-30 15:36] smiklosovic commented on #361
Hi @MJ11FS ,

thanks for the issue.

Do you think having array of secret names would do the job?

[2020-03-30 15:37] MJ11FS commented on #361
Hi, yes, I think it would work well.

[2020-04-01 09:12] smiklosovic commented on #361
@MJ11FS this was released as part of version v6.0.1

[2020-04-01 09:12] #361 closed

[2020-04-07 15:54] MJ11FS opened #364 "JvmSettings for cassandra"
Issue:
The way JVM xmx and xms are calculated limits each Cassandra container to 25% of memory defined in `cdc.Spec.Resources.Limits.Memory().Value()`. If we set container requests and limits to 10G our cassandra container will be only set with 2.5G of mem. Why is the value so low?

https://github.com/instaclustr/cassandra-operator/blob/d36f6a0e937fbd93311b4e9cb1a0dc52d6149e81/pkg/controller/cassa

[2020-04-08 15:17] smiklosovic opened #367 "create integration tests for sidecar to test against embedded Cassandra database, no mocks"

[2020-04-20 15:50] smiklosovic opened #370 "Verify that restoration of a table or keyspace on running cluster works"

[2020-04-20 17:03] smiklosovic commented on #367
This was already done in separate repository https://github.com/instaclustr/cassandra-sidecar

[2020-04-20 17:03] #367 closed

[2020-04-20 17:05] smiklosovic opened #372 "Move documentation to GitHub wiki"
It is just easier to have it there as it also drives developers / maintainers to update it more often when it does not lead to the whole pipeline being built just because we need to fix few typos ...

[2020-04-20 17:05] smiklosovic commented on #372
https://github.com/instaclustr/cassandra-operator/pull/371

[2020-04-20 17:05] #372 closed

[2020-04-30 08:07] jgoeres opened #373 "How to add a nodeSelector or nodeAffinity to the cassandra pods?"
I am trying to control on which nodes the cassandra pods are placed. My first idea was to use a nodeSelector or a node affinity, but alas, this seems not possible with the CassandraDataCenter spec. Am I overlooking something?
I noticed that there is support for adding tolerations, but this unfortunately doesn't work for me, cause I am using EKS with managed node groups that do not support the addi

[2020-04-30 09:30] smiklosovic commented on #373
Hi @jgoeres

maybe this?

https://github.com/instaclustr/cassandra-operator/wiki/Custom-configuration#rack-awareness

You can place nodes to "racks" (Cassandra's concept) and you do that based on label

You can label various things like this too: https://github.com/instaclustr/cassandra-operator/wiki/Custom-configuration#custom-labels-for-created-objects

[2020-04-30 09:36] smiklosovic commented on #373
@jgoeres I can add nodeSelector quite easilly, just be aware that you will not be able to specify this "per pod" because pods are scheduled automatically from operator, there just cant be that mapping like "first c* node to this worker, second c* to that worker", it might be done either on rack basis or all nodes in a cluster would have same nodeSelector.

What do you prefer?

[2020-04-30 09:43] smiklosovic commented on #373
@jgoeres
actually, this is already there :)

If you check this yaml:

[code]

This "labels" field there is eventually used as nodeSelector.

Check this:

https://github.com/instaclustr/cassandra-operator/blob/master/pkg/controller/cassandradatacenter/statefulset.go#L170

so rack.labels is a map[string]string and that is used as `NodeSelector` in pod spec ...

So from my side, it is already provide

[2020-04-30 10:14] jgoeres commented on #373
@smiklosovic
Thank you, exactly what I was hoping for. I will give this a try .
While I plan to use different racks for multi-zone support/awareness anyway in a next step, currently I am more concerned to make sure that my cassandra pods go to one EKS node group (which goes across all zones), and not to another. Background is that I want to have one node group for my more or less "static" workload

[2020-04-30 10:14] #373 closed

[2020-05-04 13:34] senax opened #374 "helm: Operator only looks for cluster definitions in it's own namespace"
Hi,

The operator only picks up cassandraDataCenter object in it's own namespace. I found the WATCH_NAMESPACE section in the deployment which can be tweaked to make it look elsewhere.

It would be great if this could be done through values.yaml as then we don't need to modify the templates. I'll make a PR for this.

[2020-05-04 13:59] smiklosovic commented on #374
@senax I think this boils down to this documentation

https://sdk.operatorframework.io/docs/operator-scope/

So you are trying to do cluster-scoped operator?

Feel free to open a PR! Thanks

[2020-05-04 14:56] smiklosovic commented on #374
https://github.com/instaclustr/cassandra-operator/pull/375

[2020-05-04 14:56] #374 closed

[2020-05-13 16:39] jgoeres commented on #355
We just started using cassandra with the help of the instaclustr operator, so I am a quite a newb to both, but I would like to add my thoughts here, based on what little info I found about that topic so far. Sorry if some things might seem a bit naive. ;-)

I am currently looking into ways to do an update a cassandra cluster, too. Ideally while keeping the cluster operational during the update pro

[2020-05-15 19:56] smiklosovic commented on #355
Hello @jgoeres ,

yeah this one is very complex. I would personally investigate update of a node by decomissioning of a node so cluster would shink down and I would try to scale it up, presumably with new image. This can be maybe done by restaring a node with new stuff ...

Anyway, the whole approach should be ridden by operator, no custom scripts similar, that gets complicated very quickly.

Ther

[2020-05-18 13:47] jgoeres opened #376 "Cluster creation fails when using a customConfig map with Kubernetes 1.15"
We recently needed to add a custom config map (goal: set JVM options, in particular disable the JVM's crappy container support). I modified my helmchart, as part of which we also create the CassandraDatacenter object accordingly and added a section like this plus the corresponding config map:

      userConfigMapVolumeSource:
        name: {{ .Release.Name }}-cassandra-custom-conf
        items:

[2020-05-18 15:33] smiklosovic commented on #376
@jgoeres if you changed versions of clusters and versions of this operator, have you also changed API? Try to use API of version of operator you use. This means uninstalling old CRDs and installing the right ones of a version you are on. Maybe that helps.

[2020-05-18 15:39] jgoeres commented on #376
I completely replaced the way I installed the operator from 3.2 to 6.2. Where I originally only created CRDs and PSPs beforehand and had the operator in "single namespace mode" also installed by my product helmchart, I now moved the entire operator installation to a dedicated step and use the operator in "cluster mode". I also tested this on a fresh minikube cluster where I downgraded from 1.17.x

[2020-05-19 06:02] smiklosovic commented on #376
@jgoeres I cant see where the problem is, it boils down to this

[code]

but that field is not a list, other list-like fields have that annotation on them, but not this one, which seems to be just right.

[2020-05-19 16:23] jgoeres commented on #376
Hi,

I attached a ZIP with the minimal example I created. It contains the CRDs I used (instaclustr-crds-v6.2.0.yaml), the operator setup (instaclustr-operator-minimal-example.yaml) and the cluster setup, including the config map I want to use with the JVM options I need to set (instaclustr-operator-minimal-example-cluster.yaml).
This fails on Kubernetes 1.15, but works on 1.17.
When I comment out

[2020-05-19 17:42] smiklosovic commented on #376
@jgoeres try this, check there is added `type: array`

[code]

[2020-05-19 18:19] jgoeres commented on #376
That actually did it, THX. :-)
Is this documented somewhere so I could have found it?
I have not created my own CRDs yet, so I am no expert, but willing to learn - I cannot see a a property "type" defined for userConfigMapVolumeSource. Can you give me a pointer to some doc describing what this was?
And why is it different between 1.15 and 1.17?

[2020-05-19 19:34] smiklosovic commented on #376
yeah it is burried in this section: https://github.com/instaclustr/cassandra-operator/wiki/Accounts,-login-and-SSL#ssl

To answer your questions, I have no idea :)

[2020-05-19 21:00] #376 closed

[2020-05-20 07:33] jgoeres commented on #376
@smiklosovic THX again. :-)

[2020-06-09 07:00] jgoeres opened #377 "How to use sstable tools with a cassandra cluster deployed through the operator?"
Hi,

to debug an issue with accumulating tombstones, we need to run the sstablemetadata tool against our Cassandra clusters (version 3.11.6) set up with the instaclustr operator (version 6.2). We deploy this in various environments (minikube, EKS, EKS multi-rack), and the issue is the same:

- exec'd into the cassandra pod and executed 'sstablemetadata <some keyspace> <some table>'
- We got a firs

[2020-06-09 07:19] smiklosovic commented on #377
Hi @jgoeres

it seems to me you are using older image, I remeber this issue, there was this problem with nodetool as well but I ve fixed it.

[code]

So you can either use 3.11.6:latest and be sure that such image is indeed pulled again (pull policy Always).

[2020-06-09 07:23] smiklosovic commented on #377
When it comes to `nodetool`, you can either execute it directly in a container but keep in mind that nothing prevents you from executing it _outside_ of a container, you just point `nodetool` to your node. Understandably, this is highly specific how your networking is done just keep in mind that nodetool can "connect" to your running Cassandra node, it does not have to be physically colocated.

[2020-06-09 08:15] jgoeres commented on #377
Hi @smiklosovic
thanks for you quick response. We recently updated to v6.2.0 (all images, operator, sidecar, and cassandra itself ;-)). Do you remember which version was affected?
That aside, the nodetool actually works when running it inside the pod, but not the sstable tool. At least from my understanding, the sstable tool cannot be run outside because it directly accesses the cassandra database

[2020-06-09 09:37] smiklosovic commented on #377
@jgoeres yes, it seems to be necessary to execute  it directly on the node. I works in my case, I am on 3.11.6:latest, double check that you indeed pulled that image.

[2020-06-11 08:49] smiklosovic commented on #377
@jgoeres ok this is strage, I ll take a look.

[2020-06-11 21:05] smiklosovic commented on #377
@jgoeres I ve pushed v6.3.0, it should be fixed.

[2020-06-11 21:05] #377 closed

[2020-06-12 05:23] jgoeres opened #379 "init container image cannot be changed, is using "latest" tag"
Hi,

I can successfully change the operator, cassandra, and sidecar images to come from our internal registry. Alas, I cannot change the image used as init container, it is always busybox:latest.
While this is "just" the init container, having an external dependency is not nice for prod environments. Further, having "latest" tag gives a bit of "mystery meat" situation (yes, it is "merely" busybox,

[2020-06-12 06:07] smiklosovic commented on #379
What would you like to see here? We should create an image just for this container and push it to gcr.io?

[2020-06-12 06:14] jgoeres commented on #379
No, just the option to set the image myself, like I can do with the cassandra and sidecar images. And the pull secret would have to be considered, too, as it also already works for the other two.
Basically, it could like like this in the CassandraDataCenter spec:

apiVersion: cassandraoperator.instaclustr.com/v1alpha1
kind: CassandraDataCenter
metadata:
[...]
datacenter:  dc
cluster: mycluster
spe

[2020-06-12 06:15] jgoeres commented on #377
Perfect, works now. :-)

[2020-06-12 08:45] smiklosovic commented on #379
@jgoeres https://github.com/instaclustr/cassandra-operator/wiki/Migration#v640 its out!

[2020-06-12 08:45] #379 closed

[2020-06-12 11:13] #370 closed

[2020-06-12 16:22] jgoeres commented on #379
@smiklosovic
Thanks again, works perfectly. 👍
If just every open source project had such committed maintainers as you. :-)

[2020-06-12 17:48] smiklosovic commented on #379
@jgoeres feel free to reach us at Instaclustr, we are alway happy to help!

[2020-07-23 16:48] rltvty opened #381 "Better default passwords?"
Is there any way to have the operator create or use a more secure password for the `cassandra` user?

Either create one at cluster launch time, and put it into a kuberentes secret, or use one from an existing kubernetes secret?

[2020-07-24 08:41] smiklosovic commented on #381
It is just easier to create that cluster with default password and change that password afterwards. So the answer is no, there is not currently any way how to set this up automatically.

[2020-07-24 16:53] rltvty commented on #381
I'm standing up 100+ clusters... it is not easier to create with default and change afterward.

[2020-07-24 22:55] smiklosovic commented on #381
@rltvty what network topology strategy do you use?

[2020-07-25 00:55] smiklosovic commented on #381
@rltvty you want to change the password of "cassandra" user, right? I think the best solution here would be to create a custom implementation of IAuthorizer (I hope that is the right interface) which would reach to K8S secret for password set by you in case you are trying to log in with "cassandra" user, otherwise it would just do the auth against what is in DB. Keep in mind though that in case yo

[2020-08-18 13:34] an-tex opened #385 "SeedsResolver relies on cluster_domain to be cluster.local"
As in https://github.com/instaclustr/cassandra-operator/blob/master/java/cassandra-k8s-addons/src/main/java/com/instaclustr/cassandra/k8s/SeedsResolver.java#L125

But the [cluster_domain](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/) can be configured differently by the cluster admin, in which case you get
[code]

and no cluster is formed. the actual `cluster_domain` ca

[2020-08-18 16:04] smiklosovic commented on #385
Hi @an-tex , thanks for reporting this, I ll check this soonish (e.g. tomorrow).

[2020-08-18 20:03] smiklosovic commented on #385
@an-tex it should be fixed, please pull latest images and try it and let me know so I can do proper release

https://console.cloud.google.com/gcr/images/cassandra-operator/GLOBAL/cassandra-3.11.7?gcrImageListsize=30

Use tag `latest-dev`

[2020-08-19 07:41] an-tex commented on #385
works like a charm! thanks a lot for handling it so swiftly and also merging my other PR, appreciate it :)

[2020-08-19 07:41] #385 closed

[2020-08-19 09:19] smiklosovic commented on #385
@an-tex released as `v6.7.0`

[2020-09-03 16:45] bygui86 opened #388 "Better explain CassandraCluster CRD"
This is not really a feature request, but for sure not an issue.

I don't understand the usage of CassandraCluster. I don't find anything in the documentation as well.

Maybe in wiki could be created a page about CassandraCluster.

Thanks in advance for your help!

[2020-09-07 07:32] deep1pradee opened #389 "[BUG] Cluster fails with error"
I have tried to start the cluster with example-datacenter.yaml
the POD create a PVC and fails with below error
[code]

Currently im using the Ceph block to create the PVC

The other nodes are not coming up... Its failing with the first pod itself.

I have not changed anything on the yaml file..
I have specified only the storage class to my ceph.

spec from example-datacenter.yaml
[code]

kubectl v

[2020-09-07 07:46] smiklosovic commented on #389
@deep1pradee please copy here the content of /etc/resolv.conf of that container.

[2020-09-07 09:57] bygui86 opened #390 "Cassandra on GKE port forwarding connection refused"
**Describe the bug**

I deployed the cassandra-operator on a GKE cluster of 3 Kubernetes nodes using following configuration:
[code]

All Cassandra nodes in the datacenter start properly, without issues.
Checking with nodetool returns this:
[code]

When I try to connect to Cassandra from my laptop through port-forwarding (using different applications like TablePlus, JetBrains DataGrip, or simply c

[2020-09-07 10:13] deep1pradee commented on #389
@smiklosovic  Since the container is failing, I can't go inside the container.

[2020-09-07 12:20] smiklosovic commented on #389
@deep1pradee it should be in logs of Cassandra as it starts, (kubectl logs -f _that container_)

Look for `Content of /etc/resolv.conf` in it, it is logged.

I suppose it is same as in Sidecar though.

It does nothing else but this

https://github.com/instaclustr/cassandra-operator/blob/master/java/cassandra-k8s-addons/src/main/java/com/instaclustr/cassandra/k8s/SeedsResolver.java#L120-L153

So it

[2020-09-07 12:25] smiklosovic commented on #390
Hi @bygui86

I know this is for Azure, but have you tried to use load balancer?

[2020-09-07 12:53] bygui86 commented on #390
@smiklosovic thanks for the suggestion, but I don't want to expose Cassandra cluster to the external world, also for security reason.

My use case is simple:
- use instaclustr cassandra-operator to deploy Cassandra cluster on GKE
- deploy applications writing and reading from Cassandra
- use instaclustr cassandra-operator to automatically backup data
- once per week, exposing Cassandra cluster usi

[2020-09-08 06:35] deep1pradee commented on #389
@smiklosovic it could be DNS resolution is not working? how to resolve this issue?

[2020-09-08 08:26] smiklosovic commented on #389
Your `/etc/resolv.conf` seems fine. If you followed my suggestions, what does `dig` return? Nothing?

[2020-09-09 07:54] smiklosovic commented on #390
Hi @bygui86 ,

I tried to take a closer look and I can not port forward that either. I think it is not so straightfoward as that service is potentionally having more that one enpoint so if you want to port forward, port of what pod you would be actually interested in? You see, the concept of a service is more suitable for cases when there is fungible backend service. Here, it is true that we do no

[2020-09-09 09:36] bygui86 commented on #390
Hi @smiklosovic thanks for your investigation.

I need 9042 for CQL and in the future also 7199 for JMX.
To better test and make a comparison, I deployed a vanilla Cassandra using `cassandra:3.11.7` from docker hub and a simple StatefulSet with a headless Service. Here manifests:
[code]

Everything works as expected and I'm able to open the port-forwarding connecting with JetBrains DataGrip throug

[2020-09-09 09:43] smiklosovic commented on #390
@bygui86 how does it behave when you put hostname of that container instead of `localhost`? I can try to somehow propagate e.g. IP address there but I honestly do not remember a lot of details about this at the moment.

[2020-09-09 10:07] bygui86 commented on #390
@smiklosovic thanks for suggestion but replacing localhost with hostname won't work because that configuration must be valid for all nodes. I cannot set `listen_address: cassandra-test-cluster-dc1-rack1-0` because then it won't be valid for all others `cassandra-test-cluster-dc1-rack1-1, cassandra-test-cluster-dc1-rack1-2, etc.`.
Is it possible to set something like `listen_address: $HOSTNAME`?

P

[2020-09-10 14:30] bygui86 opened #391 "Restore process fails"
**Describe the bug**

I tried to backup Cassandra data to google cloud storage.
The process went good, but when I tried to restore data in another Cassandra cluster, the process failed.
The `restore` container completed successfully, but Cassandra nodes do not start.

Here yaml manifests:
[code]

Here Cassandra logs from node-0:
[code]

As we can see from last couple of lines in the logs, the file

[2020-09-10 14:48] smiklosovic commented on #391
Thanks @bygui86 , this will be fixed together with IP stuff. I am working on it.

[2020-09-10 16:01] bygui86 commented on #391
@smiklosovic that's great! Thanks for your help!
Please keep me posted!!

[2020-09-10 19:02] smiklosovic commented on #390
@bygui86 this is the PR (1) which solves both your issues (IP and restore (I havent tested restore cause I havent had time but the most probably this is it)).

Please try it all out and let me know, after that I ll do proper release.

Each commit in master produces images which have tag "latest-dev", these changes are in image "cassandra-3.11.8" and "cassandra-4.0-beta2" (same tags). You find imag

[2020-09-14 05:52] deep1pradee commented on #389
@smiklosovic It was an issue with our local DNS setup of K8s.. Since we using our custom dns in the setup the seed was not able to resolving.. Its fixed now...

[2020-09-14 05:52] #389 closed

[2020-09-14 14:11] #391 closed

[2020-09-14 16:17] bygui86 commented on #390
Hi @smiklosovic thanks for your PR!
Currently I'm on holiday, on Monday 21st I will be back and I will try your improvements with pleasure!
Just to be sure, I have to test "cassandra-3.11.8:latest-dev" right?

[2020-09-23 06:41] bygui86 commented on #390
Hi @smiklosovic I'm on it to test your fixes!
Keep you posted!

[2020-09-25 16:19] bygui86 commented on #390
@smiklosovic unfortunately even with `cassandra-3.11.8:latest-dev` the port-forwarding issue is still there :(

I tried to port-forward the sidecar and retrieve the config:
[code]

As you can see, it seems that `listen_address: 'null'` is not configured.

Opening a session into a cassandra node, I searched for cassandra.yaml and I found 2 of them:
`/usr/share/cassandra/cassandra.yaml`
here the con

[2020-09-25 18:21] smiklosovic commented on #390
It has to work, this is the commit https://github.com/instaclustr/cassandra-operator/commit/c14a94d7164dfaa06a5467697d077d7f3e27332c

I was testing that.

[2020-09-25 18:23] smiklosovic commented on #390
why do you have `rpc_address: 'null'` ? It should be set to `0.0.0.0` based on operator. Have you deployed new operator too?

[2020-09-26 15:00] bygui86 commented on #390
I tested only the port-forwarding for now, I will check the restore in the next few days.

I have no idea. I used the same configuration and yaml files I reported at the beginning.

Here is the ConfigMap for the operator:
[code]

And here the Deployment of the operator:
[code]

Which version/tag of the operator should I use?

Sorry but I had a look at the commit, and it does nothing on the `listen

[2020-09-26 19:45] smiklosovic commented on #390
yes, tag is `latest-dev` for operator image too, this is my config:

notice that broadcast_rpc_address is set to Cassandra's pod hostname `cassandra-test-cluster-dc1-west1-a-0`, listen_address is null, it will be automatically resolved, I have this in logs (I am using 4.0-beta2 image)

[code]

Check the comments:

[code]

That is why it is left to be null - it will be automatically resolved to hos

[2020-09-28 07:42] bygui86 commented on #390
Ok @smiklosovic let me have another round of test!

[2020-09-28 11:47] bygui86 commented on #390
@smiklosovic thank you very much for the detailed explanation!
Sorry if I was too picky, I'm trying to understand what's behind the scenes. I have to admit that it's pretty difficult to understand all interactions between configurations.

I know that technically you don't port forward the port of a pod but your local port to a certain pod/service port. I referred to that in a tricky way.

Anyway I

[2020-09-28 12:32] smiklosovic commented on #390
@bygui86 I glad to hear that! I am working on a comprehensive README which would explain both backups and restores in detailed way, I was focusing too much on a development side and readmes are lacking so please stay tuned and I ll mention you in this issue once it is done. It will help you to navigate in this project and explains its usage in more detailed way.

[2020-10-01 07:26] bygui86 commented on #390
@smiklosovic that's great! The wiki is already good :) just for some specific details it would require a deeper description.

Thanks a lot for your help!
I'm sorry right now I'm not able to test the restore, I hope to be able tomorrow or starting next week!

[2020-10-02 07:26] tegioz opened #393 "Consider listing operator in Artifact Hub"
Hi! 👋🏻

Have you considered listing the **cassandra** operator directly in [Artifact Hub](https://artifacthub.io)?

At the moment it is already [listed there](https://artifacthub.io/packages/olm/community-operators/cassandra-operator), because the Artifact Hub team has added the [community-operators](https://github.com/operator-framework/community-operators/tree/master/upstream-community-operators

[2020-10-06 10:08] bygui86 commented on #390
Hi @smiklosovic sorry for the late update.

Unfortunately the restore process still does not work :(

This time the `restore` container fails, here logs:
[code]

I used `sidecarImage: "gcr.io/cassandra-operator/cassandra-sidecar:latest-dev"` and the very same CassandraDataCenter yaml manifests, adding only these lines:
[code]

Here following the backup manifests:
[code]

The backup is performed pe

[2020-10-06 11:54] smiklosovic commented on #390
I am on it, super strange, it works here.

[2020-10-06 11:55] bygui86 commented on #390
I'm on it as well these days, so I will try another time today or tomorrow!
I keep you posted, please let me know if you find something.

[2020-10-06 12:00] smiklosovic commented on #390
@bygui86

Check this:

https://github.com/instaclustr/cassandra-backup/blame/master/src/main/java/com/instaclustr/cassandra/topology/CassandraClusterTopology.java#L265

It WAS hostId but it is nodeId from that commit.

Fast ideas:

1) be sure everything is newest, I think you need to have Always image pull policy to enforce new image pulling even you have it locally2
2) topology manifest in bucket

[2020-10-06 12:07] smiklosovic commented on #390
@bygui86 try to do clean backup with clean bucket and be sure it is uploaded there as nodeId, then do restore.

Please read this whole section in backup's readme: https://github.com/instaclustr/cassandra-backup#directory-structure-of-a-remote-destination

[2020-10-06 13:24] bygui86 commented on #390
@smiklosovic I will concentrate further tests on this part!

[2020-10-07 12:46] bygui86 commented on #390
@smiklosovic I removed everything from kubernetes cluster before performing another test.

I deployed from scratch (from cassandra-operator latest master branch) new CRDs, new Operator, new RBAC and new CassandraDataCenter using following container images:
- gcr.io/cassandra-operator/cassandra-operator:latest-dev
- gcr.io/cassandra-operator/cassandra-sidecar:latest-dev
- gcr.io/cassandra-operator/

[2020-10-07 14:10] smiklosovic commented on #390
@bygui86 ah right ... that field is not in operator's backup request so it is not send, your bucket does not exist but by not setting it, createMissingBucket is false by default, so it errors out as a bucket is not there and it can not proceed with creation.

Two fixes:

1) create that bucket on your own
2) I will add that field there and deploy things

For time being try 1) and I am on 2) as I wr

[2020-10-07 14:40] smiklosovic commented on #390
@bygui86 https://github.com/instaclustr/cassandra-operator/commit/31e6ec0cd44949d9f58f278c1eab41ee5c944f7b

It is deploying ...

[2020-10-07 15:07] smiklosovic commented on #390
@bygui86 deployed https://app.circleci.com/pipelines/github/instaclustr/cassandra-operator/47/workflows/0822e5c0-06ae-4a6d-b84d-97c71bb5eee8/jobs/1488

Please redeploy your operator, that CRD of backup has to be redeployed too.

Tag is as usualy latest-dev.

[2020-10-07 15:44] smiklosovic commented on #390
Redeploy it all. The thing is (this is how Kubernetes is done) that if you remove cluster CRDs, your database is going to be removed too so pay attention to this. I think you need to redeploy just operator (operator container / pod) with new image + you need to redeploy backup CRD.

If you redeploy backup CRD, your backup will not be there anymore ... so you need to create that backup with "justCr

[2020-10-07 15:53] bygui86 commented on #390
Ok great, everything clear, trying again in one hour!

[2020-10-07 17:22] bygui86 commented on #390
@smiklosovic I tried right as we discussed (redeploy backup CRD, operator and backup).

Backup is performed without issues. Restore seemed to be performed without issues, but then I tried to perform a query :(

![Screenshot 2020-10-07 at 19 18 58](https://user-images.githubusercontent.com/22518997/95365114-f82fc780-08d1-11eb-86a0-c823c570d4a9.png)

![Screenshot 2020-10-07 at 19 10 40](https://user

[2020-10-07 17:24] smiklosovic commented on #390
Yes I have an idea wait a minute.

[2020-10-07 17:24] smiklosovic commented on #390
Please tell me, you are restoring _from scratch_? It means that you are trying to restore into _completely new cluster_, right?

[2020-10-07 17:35] bygui86 commented on #390
Yeah exactly.
1. I did a backup and everything seems to be ok as I see data in google cloud storage
2. I deleted the CassandraDataCenter and all related PVC
3. I used the very same kubernetes yaml to deploy a new CassandraDataCenter, adding the restore configurations, pointing to the previously created CassandraBackup
4. After waiting for Cassandra to be up and running, I tried to have a look at r

[2020-10-07 17:36] smiklosovic commented on #390
We are almost there please bear with me :)

Do you see this?

https://github.com/instaclustr/cassandra-operator/blob/master/pkg/controller/cassandradatacenter/statefulset.go#L351

It means that it will restore into _completely new cluster_ right ...

Read this please:

https://github.com/instaclustr/cassandra-backup#resolution-of-entities-to-backup--restore

In nutshell, you did your backup, but I

[2020-10-07 17:47] bygui86 commented on #390
Yeah don't worry, I will keep up until we reach success!

Ok got it, so not another bug, just a matter of fine tuning configurations.
I will try one more time tomorrow morning!

I'm sorry, probably I read that part of documentation too fast. I will read everything again but more carefully tomorrow.
Stupid question: do you think that it does not make sense to backup per default the "system_schema"

[2020-10-07 17:52] smiklosovic commented on #390
all good, no question is stupid, but it also has a catch ...

The thing is that we are using nodetool's snapshot functionality (but we are just executing this via JMX, programmatically) and that feature is done in such way that you might enumerate keyspaces _or_ tables, like `ks1,ksk2`_or_ `ks1.t1,ks2.t2`, but you _can not_ mix it, so you can not do `system_schema,mykeyspace.mytable` - this is ill

[2020-10-07 17:56] bygui86 commented on #390
Ok got it, I suspected it was due to a sort of limitation of nodetool. Thanks for the explanation!

Honestly I don't like the way Cassandra offers backup and restore (without your operator) and I find nodetool and other tools a bit too hacky... That's why I'm using NoSQLBench instead of cassandra-stress...

[2020-10-07 17:58] smiklosovic commented on #390
yeah it is pretty harsh! Thats why we are trying to simplify all nuances but it is still a long way to go ... Especially when it should be done _the proper way_, there is a lot of details one has to do right ...

[2020-10-07 18:01] smiklosovic commented on #390
It also depends what use case you are going to have ... for example it is possible to also restore on-the-fly (so your cluster is just running), it is all explained in the documentation. If there is on-the-fly restoration as well as from scratch / in-place, these things gets complicated very soon.

[2020-10-07 18:03] bygui86 commented on #390
Yeah I know what you mean. I can imagine on-the-fly restore is really difficult to be prepared and performed.

For me all Cassandra universe is a bit too hacky and rigid... Taking other big guys like ElasticSearch, it's way more advanced!! Offering REST APIs, advanced tools and so on...
In Cassandra too many things have to be done and have to go the right way...

[2020-10-07 18:06] smiklosovic commented on #390
Yes, and the tooling around is almost non-existent, nothing really official, there is a lot of plumbing outside of the offical repository and people are coming with their own band-aids .. yeah it is what it is. There are big corps and companies behind Cassandra and they already have everything they need developed in-house so there is not too big drive to develop it in the offical code base, unfort

[2020-10-08 11:46] bygui86 commented on #390
@smiklosovic starting another round of restore testing. Let you know in couple of hours.

[2020-10-08 12:11] smiklosovic commented on #390
@bygui86 good, fingers crossed, I am here.

[2020-10-08 14:55] bygui86 commented on #390
@smiklosovic amazing! It worked!!

cassandra-A -> google cloud storage -> cassandra-B

Thanks a lot for your help!!

I have a couple of other questions (no bugs) related to backup/restore and sidecar, where can I make them?
Is there a way to communicate "a bit faster" with you instead of using github issues? of course without bothering you all days!!

[2020-10-08 15:04] smiklosovic commented on #390
if you drop an email to "stefan dot miklosovic at instaclustr dot com", we can have a chat via hangouts

[2020-10-08 15:07] bygui86 commented on #390
that's great!! thanks a lot!!

I will close this issue and the other one!

[2020-10-08 15:07] #390 closed

[2020-11-28 09:51] kong62 opened #397 "CassandraRoleManager skipped default role setup: some nodes were not ready"
I kept getting an error when I redeployed because sts cannot create pods in parallel
I need podManagementPolicy: Parallel, but see github code commit:
[code]

[code]

[2020-11-29 13:32] smiklosovic commented on #397
Can you elaborate on why you need it to be in parallel?

[2020-11-30 10:05] kong62 commented on #397
When the cluster has been in a crash after an avalanche( a lot of nodes crash), I deleted the statefulset and then re-created it, so that pod started one by one, pod0 will not be ready because it is looking for other members, but other members must start pod0 successfully before starting.

[code]

[2021-01-10 03:18] srteam2020 opened #398 "[BUG] Reconcile() fails to delete the corresponding pvc if missing deletionTimestamp of Cassandra pod"
**Describe the bug**
We find that the `reconcile()` in `cassandradatecenter_controller.go` may miss the deletionTimestamp of a "to-be-deleted" cassandra pod and fail to delete the corresponding pvc.
In the current implementation, the controller finds out all deleted pods by calling `AllDeletedPods` which decides whether a pod is deleted by checking its deletionTimestamp. However, if the `delete` e

[2021-01-10 20:24] smiklosovic commented on #398
@srteam2020 thank you for this elaborative description, if only everybody wrote it like you :)

We will be more than happy to accept your PR which fixes this issue and I will gladly merge it aftewards.

warm regards

[2021-01-12 02:24] srteam2020 commented on #398
@smiklosovic Thanks for confirming the issue.
Pushed one PR to fix it. The build failure from CI seems to be unrelated to the patch.

[2021-01-12 10:47] smiklosovic commented on #398
@srteam2020 thanks a lot, I ll take it from here.

[2021-01-14 03:59] srteam2020 opened #400 "[BUG] Cassandra node can be decommissioned wrongly which blocks scale down"
**Describe the bug**

We find that sometimes the cassandraDatacenter controller fails to scale down the Cassandra cluster because it decommissions the Cassandra node wrongly. In `scaleStatefulSet` the last pod returned by `List` is picked as the one to decommission:
[code]
The `List` fetches the pods from the local indexer. However, the indexer is implemented as a `map[string]interface{}` so no or

[2021-01-14 18:18] smiklosovic commented on #400
hi @srteam2020

yes, the patch would be very good! I am very sorry this one slipped through. If yo u have some cycles to fix this it would be awesome.

I have not forgotten your first patch, I am just doing something in the background so I will cut a release sooner or later as what I do depends on operator but I ve already merged that locally. If you manage to fix this, I will release the images w

[2021-01-17 05:01] srteam2020 commented on #400
PR issued here https://github.com/instaclustr/cassandra-operator/pull/401
Borrowing the code from statefulset controller

[2021-01-21 17:48] smiklosovic commented on #398
@srteam2020 I commented on your PR.

[2021-01-25 17:35] smiklosovic commented on #398
merged / released thanks

[2021-01-25 17:35] #398 closed

[2021-01-25 17:36] smiklosovic commented on #400
merged / release thanks

[2021-01-25 17:36] #400 closed

[2021-01-27 05:46] srteam2020 opened #402 "[BUG] PVC can be accidentally deleted when controller reads stale data from apiserver"
**Describe the bug**
We find a tricky issue that the controller may accidentally delete PVC even when the CassandraDataCenter is not being deleted.

If a controller crashes and restarts, it may watch on any apiserver in a HA cluster. The watch is served by the apiserver’s cache without any freshness guarantee. If the apiserver happens to hold stale data in its watch cache, it may replay some stale

[2021-01-27 11:07] smiklosovic commented on #402
Thank you @srteam2020 , these kind of issues might be spotted only after quite intensive and nontrivial usage and I am glad you are willing to return to us with your findings. Feel free to submit the patch, your help is appreciated.

Regards

[2021-02-02 09:15] smiklosovic commented on #402
@srteam2020 any chance you work on this! I would love to see it fixed.

Thanks a lot.

[2021-02-03 23:15] srteam2020 commented on #402
@smiklosovic
Yes! I will work on this. Getting busy recently so didn't have a chance to file a PR for this issue last week.

[2021-02-06 13:35] smiklosovic commented on #402
thanks!

[2021-02-06 13:35] #402 closed

[2021-02-11 18:54] srteam2020 opened #404 "[BUG] Stale statefulset can be accidentally re-created when reading stale data from apiserver"
**Describe the bug**
We find a tricky issue that the controller may accidentally recreate stale statefulset which belongs to a deleted CassandraDataCenter.

Similar to the situation in https://github.com/instaclustr/cassandra-operator/issues/402, the controller could experience a time-traveling by reading stale data from a slow apiserver after a restart. If a CassandraDataCenter cdc1 gets created

[2021-02-11 19:09] smiklosovic commented on #404
Hi @srteam2020 ,

yes, please I am very willing to fix this problem. HA setups are tricky to get right and issues like these are harder to find, we have not run this in HA setup yet, I have to admin, no customer has specifically requested that so far so I am glad you dig deep here.

[2021-02-15 09:09] #404 closed

[2021-03-05 20:41] weyderfs opened #406 "Deployment in another namespace"
Hey guys,
I'm trying deploy the Cassandra Datacenter in a specific K8s Namespace without success.
I'm following the Wiki docs and I made the deployment of Cassandra Operator and deployed in a namespace "Operator" and works fine 👍🏻  but when I make the deployment of Cassandra in another _namespace_ nothing happens and the the Cassandra Operator logs returns:
[code]
I deployed the operator using:
`

[2021-03-06 11:53] smiklosovic commented on #406
hey,

what is the content of that config map in that namespace?

"error": "'nodes' value is not specified in cassandra-operator-default-config configMap!",

Seems like it misses that 'nodes' value?

[2021-03-08 14:06] weyderfs commented on #406
I'm using the default _configurations_:
[code]

[2021-03-20 04:15] srteam2020 opened #407 "[BUG] Reading stale pod information can lead to undesired PVC deletion"
**Describe the bug**
We find that reading stale pod information from the apiserver will make the controller accidentally delete the PVC used by the current pod. More concretely, if we scale down and scale up a CassandraDataCenter, the controller (after a restart) may read a stale view of the pods and believe one of the cassandra pod is going to be deleted (due to the previous scale down). The cont

[2021-03-21 08:31] smiklosovic commented on #407
Your patch is always welcome @srteam2020 !

[2021-03-22 19:45] smiklosovic commented on #407
Hi @srteam2020 , I was wondering if you do not want to say hi to us (we would love to say hi to you!) in a more private manner. Do not hesitate to reach me at stefan dot miklosovic at instaclustr dot com with anything (but not only) Cassandra related, we like to talk to people, we dont try to push anything on you, dont worry :)

[2021-07-08 15:51] #388 closed

[2021-07-08 15:58] bygui86 opened #409 "Fade out to another Cassandra operator"
Hi guys

on the main page is written that the operator is at its sunset phase of life and it's better move to another one (Orange or DataStax).

First of all thank you for your hard work and sad that such a good tool is leaving.
Now coming to the main points...

Is there a migration process? Some tips to migrate from an operator to another? Some advises to migrate data from a cassandra operated cl

[2021-07-08 18:42] smiklosovic commented on #409
Hi,

the best thing for migration would be to backup all your data by what this operator offers, recreate whole schema on the target cluster and restore it there. It should be possible, maybe you hit some cornercases but it should be doable.

You should have same topology (same number of nodes) and same tokens for each node so once you restore data, node by node, it will fit - tokens-wise.

[2021-07-08 19:07] smiklosovic commented on #388
It is more or less just a stub to build other things on top which we never acted upon.

[2021-07-12 07:05] bygui86 commented on #409
@smiklosovic  thank you for the tips

[2021-07-22 17:51] #406 closed

[2021-08-17 22:25] srteam2020 opened #410 "[BUG] Cassandra node gets decommissioned forever if scaling is partially done"
**Describe the bug**

When scaling down, the Cassandra operator always decommissions a Cassandra node (or a Cassandra pod) before deleting the pod. However, we find sometimes the Cassandra node can be left in a decommissioned state without being deleted forever when the Cassandra operator misses certain events.

The scaling down logic is implemented as follows:
[code]

Assume we have a Cassandra d